[2020-01-30 20:18] edburns opened #28 "public ip is not sufficiently unique"
Consider this excerpt from `mainTemplate.json`:

[code]

This is not sufficiently unique.

[2020-01-30 20:18] edburns commented on #28
I'll have a PR for this shortly.

[2020-01-31 19:22] #28 closed

[2020-02-21 01:50] edburns opened #36 "Feature Request App Gateway for Cluster Offers"
### Feature Request App Gateway for Cluster Offers

All of the offers that stand up a WLS cluster also stand up an Azure
Application Gateway pre-configured with a backend pool whose targets are
the members of the cluster.

### Background

Gurudutt has already made great progress on this feature and his work is
captured at
`git@github.com:wls-eng/arm-oraclelinux-wls-cluster-with-application-gateway

[2020-05-01 02:24] edburns opened #58 "Cluster Offers: Worker Nodes: make public/private IP configurable"
Currently the offers that create WLS clusters give each worker node a public IP.  Now that we have the ability to have an App Gateway provisioned in front of the cluster, this is no longer necessary or desirable.  This issue requests that work be done to evaluate the right choice with regard to the public/private IP nature of the worker nodes.  Considerations include:

- Should the choice of publi

[2020-05-01 02:25] edburns opened #59 "Update Docs for Admin Offer"
Admin offer now has Database and Azure Active Directory integration.  The documentation needs to be updated for that.

[2020-05-01 02:26] edburns opened #60 "Update Docs for Configured Cluster Offer"
The configured cluster offer now has App Gateway, Database, and Azure Active Directory support.  Update the docs to cover these features.

[2020-05-01 02:27] edburns opened #61 "Update docs for Dynamic Cluster"
The Dynamic Cluster offer now has support for Active Directory, App Gateway, and Database.  Update the docs to account for this.

[2020-05-01 02:28] edburns opened #62 "Remove "add-node" plan from Configured Cluster Offer"
This includes documenting how to invoke the "add-node" feature from the command line.

[2020-05-01 02:29] edburns opened #63 "Remove "add-node" plan from Dynamic Cluster Offer"
This includes documenting how to use "add-node" from the CLI.

[2020-05-01 02:29] edburns opened #64 "Document how to perform "delete-node" from the CLI for Configured and Dynamic Cluster offers."

[2020-05-01 02:30] edburns opened #65 "Investigate how to use VM Scale Set feature with Dynamic Cluster offer"

[2020-05-01 02:33] edburns opened #66 "Modify Admin, Configured Cluster, Dynamic Cluster offers to fix "test url" problem"
When you view a deployed app in the admin console, the urls shown have the internal IP address of the admin server. They should have a hostname that you can actually click on.

      * @MarkNelson: from console home page, go to the cluster or server        your app is, on protocols tab and set http frontend host, frontend port, etc.

[2020-05-01 02:38] edburns opened #67 "Build Sparse Matrix for Variations in VM Images for use in Offers"
We need to arrive at the sensible combinations of the following dimensions and then prioritize the order in which the engineering work proceeds on creating these images.

Oracle Linux Version: 7.3, 7.4, 7.6, 8
WLS Version: 12.2.1.2, 12.2.1.3, 12.2.1.4, 14
Java Version: 8 and 11 (only for WLS 14)

A partial, but prioritized list includes:

1. 7.3, 12.2.1.3, 8
2. 7.4, 12.2.1.3, 8
3. 8, 14, 11
4. 8,

[2020-05-01 15:11] edburns opened #68 "Publish admin offer with DB and AAD connection"
Publish as 1.0.17.

[2020-05-01 15:20] edburns opened #69 "Publish configured cluster offer with AAG, AAD, and DB"
Publish as 1.0.23.

[2020-05-01 15:23] edburns opened #70 "Ensure that pipeline that produces VM images for use in offers includes a step that instruments the VHD file with the proper billing tag"
[billing-tag.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4564911/billing-tag.zip)

[2020-05-02 21:27] edburns opened #71 "Publish dynamic cluster offer with AAD and DB"

[2020-05-03 18:12] edburns commented on #69
[arm-oraclelinux-wls-cluster-1.0.23-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4571281/arm-oraclelinux-wls-cluster-1.0.23-arm-assembly.zip)

[2020-05-04 18:34] edburns opened #72 "Testing: modify pipelines to use `az group deployment validate` to exercise templates ahead of deployment"
The most basic level of validation against the templates is the arm-ttk tests.

We must introduce another level after those tests, but before actually trying to deploy: `az group deployment validate`.  This command appears to run the same set of tests that happen when you press "Review + create" in the portal.  It also exercises against nested templates.

Consider the cluster offer.  It has three

[2020-05-04 19:13] edburns commented on #72
[admin-combinations.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4576850/admin-combinations.zip)

Parameter combinations for admin offer.

[2020-05-04 21:11] edburns commented on #72
[dynamic-combinations.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4577495/dynamic-combinations.zip)

Parameter combinations for dynamic offer.

[2020-05-05 18:08] edburns commented on #68
[arm-oraclelinux-wls-admin-1.0.17-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4582826/arm-oraclelinux-wls-admin-1.0.17-arm-assembly.zip)

[2020-05-05 18:14] jacobt123 commented on #68
Published to Partner Center

[2020-05-05 18:17] edburns commented on #69
[arm-oraclelinux-wls-cluster-1.0.23-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4582879/arm-oraclelinux-wls-cluster-1.0.23-arm-assembly.zip)

[2020-05-05 18:21] edburns commented on #69
[arm-oraclelinux-wls-cluster-1.0.24-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4582895/arm-oraclelinux-wls-cluster-1.0.24-arm-assembly.zip)

[2020-05-05 18:26] jacobt123 commented on #69
Published on Partner Center

[2020-05-05 18:29] edburns commented on #71
[arm-oraclelinux-wls-dynamic-cluster-1.0.15-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4582931/arm-oraclelinux-wls-dynamic-cluster-1.0.15-arm-assembly.zip)

[2020-05-05 19:52] edburns commented on #69
[arm-oraclelinux-wls-cluster-1.0.250000-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4583302/arm-oraclelinux-wls-cluster-1.0.250000-arm-assembly.zip)

Fix defaultValue problems found in acceptance testing.

[2020-05-05 20:05] edburns commented on #71
Changes caught during acceptance testing.

https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/30

[arm-oraclelinux-wls-dynamic-cluster-1.0.16-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4583366/arm-oraclelinux-wls-dynamic-cluster-1.0.16-arm-assembly.zip)

[2020-05-05 20:49] edburns commented on #72
Linked issue https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1117300

[2020-05-05 22:06] jacobt123 commented on #69
Published on Partner Center

[2020-05-06 17:32] edburns opened #73 "Database username: Update createUiDefinition.json to increase maximum allowable length to the maximum allowable by the set of supported databases"
Currently the length of the DB username is limited to 30 characters.  This should be increased to the valuable that is the maximum of the set of numbers which includes "for each supported database, list the maximum allowable length of database userid".

[2020-05-06 18:27] jacobt123 commented on #58
Another approach is to modify the existing NSG and deny access by default. Domain administrators can  run a script or via portal provide on demand access to specific IP addresses.

[2020-05-06 19:17] edburns opened #74 "App Gateway rule requires trailing slash. Remove this requirement."
# Steps to Reproduce

1. Deploy the cluster with app gateway
2. Deploy a sample app
3. Visit the sample app, but without a trailing slash.  Note that it redirects to a cluster node directly, but with the vm name.
4. Visit the sample app with a trailing slash.  Note that it does not redirect.

[2020-05-07 00:46] edburns commented on #74
In my particular situation, I have learned that the solution is best effected in the WebLogic Server configuration.

1. Visit the WLS Console
2. Click "Lock & Edit"
3. Click "Clusters"
4. Click "cluster1"
5. Click "HTTP"
6. Set the "Frontend Host", "Frontend HTTP Port" and "Frontend HTTPS Port" to be the AppGW Public IP, 80, and 443, respectively.
7. Release the configuration.
8. Restart the worke

[2020-05-07 16:54] gnsuryan commented on #74
The issue has been fixed and commited to the master branch.

I have tested it for both the scenarios:
enableAppGateway=true & enableAppGateway=false

The changes made can be seen in the below link
:
https://github.com/wls-eng/arm-oraclelinux-wls-cluster/commit/2976907dfec137ba0a77d2d4f35455e895fba969

[2020-05-07 17:14] edburns opened #75 "Automate deployment to Partner Center"
Investigate using this API: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/azure-app-apis

[2020-05-07 19:18] edburns commented on #73
Postgres: looks like it's 63.

[2020-05-07 19:24] edburns commented on #73
Oracle seems to be 30. https://dba.stackexchange.com/questions/150390/what-is-the-max-length-of-oracle-user-passwords

[2020-05-07 19:31] edburns commented on #73
Azure SQL is 128:
![image](https://user-images.githubusercontent.com/75821/81336690-c6db7300-9077-11ea-8692-3c66325b41b2.png)

[2020-05-07 21:11] #73 closed

[2020-05-07 21:23] #74 closed

[2020-05-08 09:05] galiacheng commented on #67
Version number of Java 11: 11.0.7, use 1107 to express this version.
WebLogic 14.1.1.0: https://docs.oracle.com/en/middleware/standalone/weblogic-server/14.1.1.0/index.html
Matrix for prioritized one:
"owls-122130-8u131-ol73"
"owls-122130-8u131-ol74"
"owls-141100-1107-ol80"
"owls-141100-8u131-ol80"
"owls-122120-8u131-ol80"

[2020-05-11 21:23] edburns opened #76 "Correct missing pids in cluster.database"

[2020-05-11 21:52] #76 closed

[2020-05-11 21:57] edburns commented on #69
@jacobt123 I found another problem with the Configured Cluster offer: it was using the database pids from the dynamic cluster offer because there were no pids for the configured cluster database offer.

I fixed this in https://github.com/wls-eng/arm-oraclelinux-wls/issues/76 and the result is baked into 1.0.27 at https://github.com/wls-eng/arm-oraclelinux-wls-cluster/actions/runs/101885802 .  Can

[2020-05-12 03:08] galiacheng commented on #67
Sparse matrix is available from https://galiacheng.github.io/wlsimagesku.html.

[2020-05-12 17:53] edburns opened #78 "Make Azure App Gateway not appear as a tab in Dynamic Cluster offer"
After discussion with Jacob Thomas, we decided to modify the createUiDefinition for the Dynamic Cluster offer so that the Azure App Gateway tab is not present at all in the UI.

[2020-05-12 17:53] edburns commented on #78
Tracked at https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1122204 .

[2020-05-13 18:43] edburns commented on #67
In Progress:
* 12.2.1.4.0 JDK8u251, 7.6
* 14.1.1 with JDK 8251 and JDK 1107, 7.6
Next
* 12.2.1.2.0 JDKhu251, 7.6

[2020-05-13 18:43] edburns commented on #67
<img width="987" alt="image" src="https://user-images.githubusercontent.com/75821/81851892-2c23de00-9528-11ea-9845-9ca2d726bcfe.png">

[2020-05-13 19:21] edburns commented on #68
<img width="1039" alt="image" src="https://user-images.githubusercontent.com/75821/81855462-617efa80-952d-11ea-96e6-d3e172c6fcac.png">

[2020-05-14 00:28] jacobt123 opened #79 "Revert the changes for calculated ports for Dynamic Cluster offer"
The changes done to remove calculated ports for the Dynamic Cluster offer seems to be causing issues during scale up. This needs to be reverted.

[2020-05-14 00:44] #67 closed

[2020-05-14 05:46] gnsuryan commented on #79
I have reverted back the changes to make the calculatedListenPorts set to true.

Reference: https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/commit/f523595bd28ed30c8d6dd36f4f11a82780b483bc

Also, the changes done in the fix for issue#74, for configuring FrontEndHost & Ports have not been included in the dynamic cluster offer as we will not enabling the Application Gateway for the Dyn

[2020-05-14 16:22] edburns opened #80 "Make admin offer use pre-built images instead of OTN download"

[2020-05-14 16:59] edburns commented on #80
https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/28

[2020-05-14 17:09] edburns opened #81 "Long Term: Update arm-parent so that azure-quickstart-template entry can be auto-generated"

[2020-05-15 23:23] edburns opened #83 "Document how to perform "add-node" from the CLI for Configured and Dynamic Cluster offers."

[2020-05-15 23:25] edburns opened #84 "Use "deploy sub-template" instead of "plans" to implement "take action on existing deployment" features"
Per 2020-05-13 meeting with Jacob, we will document the "take action on
existing deployment" features using the `gh-pages` branch in
`https://github.com/wls-eng/arm-oraclelinux-wls`.  This branch will
continue to have an `index.html` file that redirects to the official
Oracle documentation on docs.oracle.com.  This means when users visit
`https://wls-eng.github.io/arm-oraclelinux-wls/` they will b

[2020-05-15 23:44] edburns commented on #84
See #62 #63 #64 #83

[2020-05-18 18:57] edburns opened #86 "Oracle Has a CI/CD pipeline for their offers: Support nested template deployment"
Tracking https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1126923

When we shifted over to using nested templates for everything, any CI/CD that relied on deploying or validating a template stopped working.

This user story covers tasks that restore the capability of deploying and validating templates from CI/CD.

It should contain sub-tasks that restore the capability to each of the offers.

[2020-05-19 22:17] #78 closed

[2020-05-20 17:32] #79 closed

[2020-05-20 17:33] #36 closed

[2020-05-20 17:35] edburns commented on #75
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1077779

[2020-05-20 17:38] edburns commented on #80
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1077175

[2020-05-20 17:38] #80 closed

[2020-05-20 17:39] edburns opened #87 "Inconsistent oracle home on owls-122130-8u131-ol73"
Oracle home of
[code]
is
[code]
But that on
[code]
is
[code]
We should keep oracle home in the same path with different images.

[2020-05-20 17:39] edburns commented on #87
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1127923

[2020-05-20 17:43] edburns opened #88 "ol 7.6 network trouble"
Reproduce steps:
Deploy admin offer from preview link, choose image WebLogic Server 14.1.1.0.0 and JDK 11_07 on Oracle Linux 7.6.  It's ready in resource group "oraclevm-admin-76" in "Oracle Enterprise Java" for quick check.
 Access WebLogic console portal from browser with public ip or dns, e.g. http://wls-d315056581-admindomain.eastus.cloudapp.azure.com:7001/console
Expected result: open WebLogi

[2020-05-20 17:44] edburns commented on #88
![image](https://user-images.githubusercontent.com/75821/82479135-f76fd380-9a9f-11ea-9a69-4b45f2db86f1.png)

[2020-05-20 17:44] edburns commented on #88
![image](https://user-images.githubusercontent.com/75821/82479163-ffc80e80-9a9f-11ea-8753-8b0a6ae7b947.png)

[2020-05-20 17:47] edburns opened #89 "WLS 14.1.1.0 exception during managed server creation"
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1127971

Hello experts,

I got an exception while creating managed server in cluster offer, with environment:

weblogic version 14.1.1.0.0
JDK 11_07
Oracle Linux 7.6
The issue cannot be reproduced on image ‘WebLogic Server 12.2.1.3.0 and JDK8u131 on Oracle Linux 7.4’ with the same script, it may be weblogic 14 related.

Error message (pls find at

[2020-05-20 17:47] edburns commented on #89
[code]

[2020-05-21 08:25] galiacheng commented on #88
@sanjaymantoor @edburns
I fixed the issue for admin offer @[pullrequest](https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/32), according Sanjay's changes on [arm-oraclelinux-7.6-wls-cluster](https://github.com/wls-eng/arm-oraclelinux-7.6-wls-cluster/blob/master/arm-oraclelinux-wls-cluster/src/main/scripts/setupClusterDomain.sh),  pls review.

[2020-05-22 10:39] sanjaymantoor commented on #89
This issue is specific to WLS 14.1.1.0.0 . There was a change in 14.1.1 where the SerializedSystemIni.dat will not be automatically downloaded from the admin server when a managed server node is added. The user will have to copy the file over from the admin server to each managed server node.
Refer nmEnroll section at https://docs.oracle.com/en/middleware/standalone/weblogic-server/14.1.1.0/wlstc/

[2020-05-22 10:40] sanjaymantoor commented on #89
With respect to copying SerializedSystemIni.dat, changes are available at https://github.com/sanjaymantoor/arm-oraclelinux-wls-cluster/tree/issue89

[2020-05-22 20:23] edburns commented on #89
[code]

[2020-05-22 22:36] edburns commented on #88
Resolved in admin and configured cluster offers.  Fix in dynamic cluster still forthcoming from @galiacheng .

[2020-05-27 04:39] jacobt123 commented on #87
Published a revised version of the image. Hopefully it should be available for testing shortly.

[2020-05-27 09:18] galiacheng commented on #89
@sanjaymantoor @edburns I applied Sanjay's fix in [cluster offer](https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/43) and [dynamic cluster offer](https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/35) and tested with wls 14 and wls 12, please review.

[2020-05-27 17:11] edburns opened #90 "Bake packages required by fix to #89, and other packages, into base images"
Consider this code from the setup scripts:

[code]

By doing these installs at deployment time, we are inviting deployment failures due to network problems, and also adding unnecessary time to the deployment.  It is better to bake these packages into the base images.

[2020-05-27 18:09] edburns commented on #90
Also consider baking in the deploytool.

[2020-05-27 18:36] edburns opened #91 "Configured Cluster: Remove artificial limit on number of VMs"
The `createUiDefinition.json` has a hard-coded limit of 5 on number of VMs.  Is this really necessary?  This issue asks the assignee to explore of this limit is necessary, and if not, to remove it.

[2020-05-27 18:37] edburns opened #92 "Dynamic Cluster: remove artificial size limit."
The `createUiDefinition.json` has a hard-coded limit of 10 on number of VMs in the initial and max cluster size.  Is this really necessary?  This issue asks the assignee to explore of this limit is necessary, and if not, to remove it.

[2020-05-27 18:42] edburns opened #93 "Offers that have admin console: allow Admin Console SSL cert to reside in KeyVault"
Follow the approach used with App Gateway in configured cluster offer to provide the SSL termination certificate to the App Gateway, but use this approach for an additional, optional, certificate for the admin console SSL access.

[2020-05-27 18:44] #86 closed

[2020-05-27 18:45] edburns opened #94 "Resolve CI/CD problem on configured cluster offer"
https://github.com/wls-eng/arm-oraclelinux-wls-cluster/runs/714022590

[2020-05-27 23:11] jacobt123 commented on #87
Published a new image that also does a yum install for cifs-utils

[2020-05-28 02:44] jacobt123 opened #95 "Update deploytool version for all offers"
We need to update the deploytool to the latest so it supports JDK11.

[2020-05-28 04:07] galiacheng commented on #94
I got detail error:
DEBUG: msrest.http_logger : ***"error":***"code":"InvalidTemplate","message":"Deployment template validation failed: 'The template parameters 'acceptOTNLicenseAgreement, otnAccountUsername, otnAccountPassword' in the parameters file are not valid; they are not present in the original template and can therefore not be provided at deployment time. The only supported parameters fo

[2020-05-28 04:48] galiacheng commented on #94
@sanjaymantoor  Hello Sanjay, it's very helpful to use `--debug` for azure cli error details.

[2020-05-28 05:05] galiacheng commented on #94
We have to deploy develop branch to Oracle Enterprise Java subscription, otherwise, will get error:
[code]

[2020-05-28 07:30] galiacheng commented on #94
@sanjaymantoor  Hello Sanjay, I am applying your changes to [cluster/develop branch](https://github.com/galiacheng/arm-oraclelinux-wls-cluster/tree/develop).

[2020-05-28 07:37] galiacheng commented on #94
@sanjaymantoor  please feel free to create a PR to master branch for your exsting changes and ask Ed to review, thank you.

[2020-05-28 10:46] gnsuryan commented on #95
Hi Jacob,

Galia has already submitted changes to download the latest WDT version (1.8.1) in all the offers (wls-admin,wls-cluster,wls-dyanmic-cluster)

Thanks.

[2020-05-28 15:14] galiacheng commented on #94
@edburns  @sanjaymantoor  I created [pr 47](https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/47) to support running the validation jobs on images owls-122130-8u131-ol74, owls-122140-8u251-ol76, based on Sanjay's existing work, please review.
@sanjaymantoor I didn't include test/scripts/verify-wls-access.sh and test/scripts/verify-servers-lifecycle.sh, I found you are still working on th

[2020-05-28 18:37] sanjaymantoor commented on #94
@galiacheng I am hoping my changes similar to here https://github.com/sanjaymantoor/arm-oraclelinux-wls-cluster/tree/develop  are merged in wls-eng/develop branch.
Currently verify-wls-access and verify-servers-lifecycle verification is showing some inconsistencies with latest develop branch. I am working on it.
With respect to PR to master branch, do I need to initiate pull request on master bran

[2020-05-29 22:38] edburns commented on #87
As of 2020-05-29, still in

[code]

Tested with current preview link, still has mixed case:

[code]

[2020-05-30 08:38] sanjaymantoor commented on #94
Earlier secret USER_NAME was configured with git login user name. But I checked recent update made , it was used for to form generic git branch as well, which is good. I updated USER_NAME to the git branch user name "wls-eng". After that I am seeing CI/CD went fine.
Refer https://github.com/wls-eng/arm-oraclelinux-wls-cluster/runs/722711505

[2020-05-31 04:31] jacobt123 commented on #87
Received an email from Application Certification Support - We found that VM extension testcase is failing in your image

The only difference is I added  cifs-utils.

[2020-05-31 04:32] jacobt123 commented on #87
Have published a new image. If this one too fails, I will remove the change to install  cifs-utils and see if that resolves the VM extension issue.

[2020-06-01 00:57] jacobt123 commented on #87
The new image too failed due to the same VM extension issue. So I've excluded the part where I install cifs-utils  and only addressed the inconsistency in oracle home for this image. Hopefully the new image passes validation.

[2020-06-01 04:35] galiacheng commented on #94
Hello @sanjaymantoor  Please feel free to create a pull request for your changes, I will update my repo after the PR is merged. Thank you

[2020-06-01 12:29] sanjaymantoor commented on #94
Updated Verify WebLogic Server Access and Verify WebLogic Managed Server LifeCycle check.
Refer https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/49

[2020-06-01 14:14] jacobt123 commented on #87
Excluding cifs-utils seems to have fixed the VM extensions issue. The image is now ready for testing.

[2020-06-01 19:10] edburns opened #96 "Provide some images that use RHEL as the base OS, in addition to the existing images that use OL."

[2020-06-03 02:50] galiacheng commented on #87
It tested with preview image (owls-122130-8u131-ol73) today, the oracle home was still `/u01/app/wls/install/Oracle/Middleware/Oracle_Home`.
Environment for check:
Subscription: Oracle Enterprise Java
Resource group: oraclevm-admin-73
Credential for adminVM: weblogic/wlsEng@aug2019

[2020-06-03 02:58] galiacheng commented on #87
It tested with preview image (owls-122130-8u131-ol73) today, the oracle home was still /u01/app/wls/install/Oracle/Middleware/Oracle_Home.
Environment for check:
Subscription: Oracle Enterprise Java
Resource group: oraclevm-admin-73
Credential for adminVM: weblogic/wlsEng@aug2019

[2020-06-03 17:31] edburns commented on #87
![message](https://user-images.githubusercontent.com/75821/83668783-83085a80-a59e-11ea-9d61-6327560cb612.png)
Less that 24 hours later, the update has happened and the problem appears to be resolved.

[2020-06-03 17:33] edburns commented on #89
I verified this and am able to successfully deploy WLS 14.  Woohoo, Java EE 8 on Azure!

[2020-06-03 17:33] #89 closed

[2020-06-03 17:39] edburns commented on #95
[code]

[2020-06-03 17:39] #95 closed

[2020-06-03 17:41] #66 closed

[2020-06-09 01:50] galiacheng opened #98 "Set develop branch as default branch"
GitHub action schedule event triggers on [default branch](https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule). We schedule running a build every day, but it only happens to master branch.

 Now we are using develop branch for development, latest validation changes were pushed to this branch, it will be better to change develop branch as default bra

[2020-06-09 23:30] edburns opened #101 "Pid improvements: database choice and image choice"
Instrument offers with the ability to track which database was chosen and which base image was chosen.

Tracked internally at
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1129315
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1121688

[2020-06-10 22:06] edburns opened #102 "Copy "pre-flight" validation using az group deploy validate to admin offer"
For the preflight job, Jianguo has added wls-eng/arm-oraclelinux-wls-cluster@feb56b2, we can apply the validation step in admin offer. While we need to pay attention to the parameters file.

[2020-06-10 22:07] edburns opened #103 "Copy changes for delete resource group from cluster repo"
wls-eng/arm-oraclelinux-wls-cluster@932c4db

[2020-06-15 20:04] edburns opened #106 "Broaden image selection to include tuple of SKU, URN, and Version"

[2020-06-15 20:05] edburns commented on #106
Issued Pull Requests

- https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/43
- https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/55
- https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/39

[2020-06-15 20:15] edburns opened #107 "Remove version numbers from offer documentation"
[code]

[2020-06-16 01:56] galiacheng opened #108 "AAD failure in wls 14"
Specified for wls 14.
Can be reproduced with Admin, cluster, dynamic cluster offer.

Exception:
_Caused by: netscape.ldap.LDAPException: Server chose TLSv1.1, but that protocol version is not enabled or not supported by the client. (91); Cannot connect to the LDAP server​_

[2020-06-16 01:56] galiacheng commented on #108
Hello experts,

FYI, I would like to have your ideas for setting start argument to Admin Server.

Background of my case:
AAD fails on wls 14 with error: Caused by: javax.net.ssl.SSLHandshakeException: Server chose TLSv1.1, but that protocol version is not enabled or not supported by the client.
I fixed this error by starting Admin Server with argument: -Dweblogic.security.SSL.minimumProtocolVersio

[2020-06-16 01:57] galiacheng commented on #108
Hi Galia,
Setting the weblogic.security.minimumProtocolVersion to TLSv0 is not recommended in production domains. Is there any way to set it to TLSv1.1 on the client side ? I mean on AAD side ?
Thanks,
Jacob

[2020-06-16 01:57] galiacheng commented on #108
Hello Jacob,

Thanks for your quick response!

I checked documents of Azure DS LDAP, didn’t find one about how to enable TLSv1.1 on Azure DS LDAP server.
I asked for help in tlsv1-1-enforcement-for-azure-domain-service-ldap, will let you know if there is update.

Regards,
Galia

[2020-06-16 02:03] galiacheng opened #109 "AAD failure: exception happens when importing certificate to JDK 11.0.7"
This issue can be reproduced in image owls-141100-11_07-ol76
Error:
_keytool error: java.io.FileNotFoundException: /u01/app/jdk/jdk-11.0.7/jre/lib/security/cacerts (No such file or directory)_

[2020-06-16 09:18] galiacheng opened #110 "AAD Related: Java EE app accesses AAD user with exception"
Steps:
* Deploy cluster/dynamic cluster offer with AAD enabled
* Deploy the basic auth sample
* Login the application with user `wlstest`
Failed to login and got exception.

Exception details:
_The LDAP authentication provider named "AzureActiveDirectoryProvider" failed to make a connection to LDAP server at ldaps://ladps.wls-security.com:636, the error cause is: ladps.wls-security.com: Name or se

[2020-06-17 17:15] #106 closed

[2020-06-17 17:15] #103 closed

[2020-06-17 17:16] #94 closed

[2020-06-17 17:17] #98 closed

[2020-06-17 17:17] #88 closed

[2020-06-17 17:22] #102 closed

[2020-06-17 17:24] edburns commented on #71
Use zip from https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/actions/runs/137775712 .

[2020-06-17 17:25] edburns commented on #69
Use zip from https://github.com/wls-eng/arm-oraclelinux-wls-cluster/actions/runs/137861535 .

[2020-06-17 17:26] edburns commented on #68
Publish zip from https://github.com/wls-eng/arm-oraclelinux-wls-admin/actions/runs/137703410 .

[2020-06-17 18:11] edburns opened #111 "Create landing page for release notes for offers"
Proposed URI http://wls-eng.github.io/arm-oraclelinux-wls/release-notes/

This will contain an index.md with sections for each of the releases.

Ed will retroactively add a section for the Q4 2019 release and for the present Q2 2020 release.

Jacob will ask Oracle docs team to include a link to the relnotes in the docs.oracle.com documentation.

[2020-06-22 02:50] galiacheng commented on #108
Azure task: AB#1132189

[2020-06-22 09:08] galiacheng commented on #108
From stack overflow:
In azure ad ds, You can't directly set the tls version. However, you can disable weak TLSv1 by the following. https://docs.microsoft.com/en-us/azure/active-directory-domain-services/secure-your-domain if you do, minimum will be tls 1.1 or 1.2. the documentation doesn't explicitly say this for LDAP, but since LDAP is part of the AAD DS services, it should be affected as well.

[2020-06-22 09:08] galiacheng commented on #108
Use the following commands to disable tlsV1:
az resource show -g wls-security --resource-type "Microsoft.AAD/DomainServices" -n wls-security.com

az resource update --ids "/subscriptions/2be34c77-b1be-4417-b4b7-5419ba89dfed/resourceGroups/wls-security/providers/Microsoft.AAD/domainServices/wls-security.com" --set properties.domainSecuritySettings.tlsV1=Disabled

[2020-06-22 09:09] galiacheng commented on #108
Connect AAD from wls 14, and got the following error:

Administration Console encountered the following error: weblogic.security.providers.authentication.LDAPAtnDelegateException: [Security:090294]could not get connection at weblogic.security.providers.authentication.LDAPAtnDelegate.getConnection(LDAPAtnDelegate.java:3891) at weblogic.security.providers.authentication.LDAPAtnDelegate.getConnection

[2020-06-22 09:09] galiacheng commented on #108
From https://maulwuff.de/research/ssl-debugging.html, use https://github.com/noxxi/p5-ssl-tools.git to debug the LDAP server and got the following message:
**TLS version of the LDAP server is TLSv1.2.**

perl analyze-ssl.pl --show-chain --all-ciphers -v3 52.188.49.5:636
+ checking host=52.188.49.5(52.188.49.5) port=636
* version SSLv23 no verification, ciphers= -> TLSv1_2,ECDHE-RSA-AES128-SHA256
*

[2020-06-22 09:11] galiacheng commented on #108
I used ldp.exe to connect the some server,it works, it used TLS 1.2 to connect the server.
wireshark capture:
![image](https://user-images.githubusercontent.com/59823457/85270123-6bd8d080-b4ab-11ea-8776-2c95ee4bef90.png)

[2020-06-22 09:12] galiacheng commented on #108
wsl 14 used sslv2 to connect to AAD and failed
![image](https://user-images.githubusercontent.com/59823457/85270160-7abf8300-b4ab-11ea-866a-423d87b0416a.png)

[2020-06-22 09:19] galiacheng commented on #108
Specify weblogic.security.SSL.protocolVersion=TLSv1.2, got the same screeshot.
![image](https://user-images.githubusercontent.com/59823457/85270836-7f386b80-b4ac-11ea-9fc8-e9c5ef05713f.png)

[2020-06-23 05:58] galiacheng commented on #108
wls 14 and JDK 11.0.7 on OL 7.6 worked fine with AAD TLSv1.2.

[2020-06-24 04:15] galiacheng commented on #108
Workaround to access LDAP server with TLS1.2 from JDK 8:
-Djdk.tls.client.protocols=TLSv1.2

After setting the argument, wls 12 on JDK 8, wls 14 on JDK 8 successfully connect to AAD LDAP server with TLSv1.2 enabled.

[2020-06-24 13:21] #108 closed

[2020-06-24 13:21] #109 closed

[2020-06-29 08:06] galiacheng opened #116 "POC to create security rules to allow WebLogic Server to access Azure Active Directory LDAP"
There is network security group to restrict access AAD. We have to create an Inbound rule to allow external resource to access port 636 in Azure Domain Service instance.
Now we will create the rule, and add the IPs of WebLogic VM machine to the rule manually.
Example of a rule:
![image](https://user-images.githubusercontent.com/59823457/85988676-fb3d3100-ba21-11ea-86ed-faf5d04a4135.png)

This is a

[2020-06-29 08:29] sanjaymantoor opened #117 "Create and enable nodemanager service for dynamic cluster"
Refer https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/blob/develop/arm-oraclelinux-wls-dynamic-cluster/src/main/scripts/setupDynamicClusterDomain.sh
Following needs to be added under admin server setup.
create_nodemanager_service
enabledAndStartNodeManagerService

Once this is done it needs to be enabled for https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/blob/develop

[2020-06-29 20:13] edburns commented on #71
Please use Microsoft.Compute.UserNameTextBox. It comes with built-in validation for Windows and Linux user names

https://solutiontemplates.visualstudio.com/marketplacesolutions/_git/oracle/pullrequest/7661

Same as the other PR(7661), change all of user names to Microsoft.Compute.UserNameTextBox

https://solutiontemplates.visualstudio.com/marketplacesolutions/_git/oracle/pullrequest/7659

[2020-06-29 20:13] edburns commented on #69
Please use Microsoft.Compute.UserNameTextBox. It comes with built-in validation for Windows and Linux user names

https://solutiontemplates.visualstudio.com/marketplacesolutions/_git/oracle/pullrequest/7661

Same as the other PR(7661), change all of user names to Microsoft.Compute.UserNameTextBox

https://solutiontemplates.visualstudio.com/marketplacesolutions/_git/oracle/pullrequest/7659

[2020-06-29 20:35] #107 closed

[2020-06-29 20:40] #72 closed

[2020-06-29 21:34] edburns opened #118 "For all offers: update ref_armttk to latest, fix resulting breakage"
I observed that the existing `ref_armttk` allows the current state of the offers to pass `arm-ttk` but when you update it to the latest ref of `arm-ttk` there are many failures.  These need to be addressed.

[2020-06-30 03:14] edburns opened #119 "Docs for AAD integration"

[2020-06-30 03:15] edburns commented on #119
[gh-119-aad-integration.pdf](https://github.com/wls-eng/arm-oraclelinux-wls/files/4849237/gh-119-aad-integration.pdf)

[2020-06-30 15:36] edburns opened #121 "Publish Single Node Offer"
Even though the single node offer has been largely supplanted by the existence of the VM images, it is still important to keep it up to date.  This commit applies these changes and others documented in the commit log.  https://github.com/wls-eng/arm-oraclelinux-wls/commit/0eb46ebf35a841e7f00bc411268276779a4304a9

Because this repo has not yet had its default branch changed to `develop` I will atta

[2020-06-30 15:38] edburns commented on #121
[arm-oraclelinux-wls-1.0.17-arm-assembly.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/4852906/arm-oraclelinux-wls-1.0.17-arm-assembly.zip)

Publish this to partner center.

[2020-06-30 15:46] edburns commented on #69
https://solutiontemplates.visualstudio.com//marketplacesolutions/_git/oracle/pullrequest/7660

[2020-06-30 21:12] jacobt123 commented on #121
Published the new zip to Partner Center

[2020-06-30 21:12] #121 closed

[2020-07-01 01:26] edburns commented on #119
See AB#1147113.

[2020-07-01 09:08] galiacheng commented on #110
AB#1141496

[2020-07-01 09:16] galiacheng commented on #108
AB#1132189

[2020-07-01 17:44] #59 closed

[2020-07-06 12:55] edburns commented on #96
AB#1134308

[2020-07-08 18:14] #111 closed

[2020-07-10 14:25] sanjaymantoor commented on #117
PR created
https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/50

[2020-07-12 18:59] #71 closed

[2020-07-12 18:59] #69 closed

[2020-07-12 18:59] #68 closed

[2020-07-12 19:00] #63 closed

[2020-07-12 19:00] #62 closed

[2020-07-12 19:01] edburns commented on #60
AB#1155140

[2020-07-12 19:01] edburns commented on #61
AB#1155140

[2020-07-12 19:29] edburns opened #127 "Perform Q2 Release"
I have tagged the develop branch of the four repos with 20200621-Q2-manual-validation-start.  Until we get the capability to deploy to the partner center directly from GitHub Actions, I propose we follow the approach outlined in this famous blog post by hand.  Specifically, for each of the four repos:

I create a 20200621-Q2-manual-validation branch from develop.
We use this branch to accommodate

[2020-07-12 19:29] edburns commented on #127
AB#1133483

[2020-07-12 21:51] edburns commented on #127
https://github.com/wls-eng/arm-oraclelinux-wls/blob/v1.0.0-gh-pages/release-notes/index.md

[2020-07-12 21:51] #127 closed

[2020-07-14 16:38] jacobt123 opened #128 "Support for RHEL images"
Presently we have OL 7.x images. We need to provide base images for RHEL so customers can choose from OL or RHEL images

[2020-07-15 18:59] #110 closed

[2020-07-16 18:00] edburns opened #129 "Version number on Single Node needs to be removed on Heading and checked in every case that it is reflecting only on the drop down"

[2020-07-16 18:16] edburns opened #130 "Fill out a minimal description for base image offers in Partner Center"
The five base image offers in partner center shown in the image would benefit by having some minimal appropriate level of description.
![image](https://user-images.githubusercontent.com/75821/87707308-e7f2cb00-c76e-11ea-8500-53bb5d91bc03.png)

[2020-07-16 18:20] edburns opened #131 "The Icons and branding is incorrect there seems to be an icon and branding issue with the Base image offerings"
The icons and branding are inconsistent between the Azure Application and the VM offers for WLS.

[2020-07-20 19:01] edburns opened #132 "Remove App Gateway from ARM template for Dynamic Cluster offer"
See #78 .  Now that we know App Gateway will not be addressing the dynamic port problem, we should remove App Gateway from the templates for the Dynamic Cluster offer.

[2020-07-23 01:40] #119 closed

[2020-07-23 16:34] edburns opened #135 "Admin offer: Frontend{Host,HTTPPort,HTTPSPort} not set"
In the Admin offer, I observe that when you deploy an app and view its **Testing** tab, the internal IP address, such as **10.0.0.4** is displayed.  This is useless.  Please modify the setup so that the IP address of the admin server is used as the `Frontend{Host,HTTPPort,HTTPSPort}`.  The cluster offers already do this.

Bonus points for creating an automated test to assert this does not regress.

[2020-07-23 16:38] edburns commented on #135
AB#1161152

[2020-07-23 21:53] edburns commented on #64
AB#1133512

[2020-07-27 13:22] #132 closed

[2020-07-27 18:41] edburns opened #139 "Make it so the Azure Marketplace and Portal experience for the 5 existing base images has sufficient documentation."
For example, see [WebLogic Server 12.2.1.3.0 with JDK8u131 on OL7.4](https://ms.portal.azure.com/#blade/Microsoft_Azure_Marketplace/MarketplaceOffersBlade/selectedMenuItemId/home/searchQuery/weblogic), and its four siblings.  This should have some explanation on what it is, and links to docs.

[2020-07-28 19:08] edburns opened #140 "Contact Me page: Change title to "Oracle WebLogic Server on Azure Solution Overview""

[2020-07-29 18:00] #129 closed

[2020-07-29 18:02] edburns commented on #139
Duplicate of #130

[2020-07-29 18:02] #139 closed

[2020-07-30 22:46] edburns commented on #84
AB#1164766

[2020-07-31 15:32] wls-eng opened #141 "Support WLS Patching"
Support WLS Patching on Azure for all offers.

[2020-08-03 18:29] edburns opened #145 "Configured Cluster offer: provide option for automated Key Vault creation with uploaded SSL certificate"
Pre-release workshop and testing did not reveal this usability concern until too late for it to be included in the Q2 release.  After discussion with @m-reza-rahman today,  @edburns proposed this plan to address the issue without doing a full release.

The agreed upon level of user effort to enable App Gateway integration is the following.

Before deploying the cluster offer the user must:

1. Cre

[2020-08-03 18:30] edburns commented on #145
AB#1165828 User Story tracking this on Microsoft side.

[2020-08-03 19:48] edburns opened #146 "Modify database connection scripts to fail explicitly if the connection cannot be established"
Try to include some level of validation in the database connection scripts so that the connection is validated before the script exits, and exits with an error code if the connection is invalid.

[2020-08-04 03:10] jacobt123 commented on #131
Replaced all images for offer type "Azure Applications" to make them consistent with Azure Virtual Machines

[2020-08-04 03:10] #131 closed

[2020-08-04 03:14] jacobt123 commented on #140
Modified the title on Microsoft Partner Center and I see the changes are now live

[2020-08-04 03:14] #140 closed

[2020-08-06 19:30] edburns commented on #118
AB#1167684

[2020-08-06 19:31] #84 closed

[2020-08-06 19:32] #64 closed

[2020-08-06 19:32] #83 closed

[2020-08-06 19:32] #61 closed

[2020-08-06 19:32] #60 closed

[2020-08-06 19:50] edburns opened #147 "Configured Cluster App Gateway Key Vault usability concern"
Too much to ask the user to pre-create Key Vault and populate it with certificate.
* Immediate plan.  Microsoft will:
  * ~[Ed create tutorial on docs.microsoft.com, sibling to existing AAD tutorial.](https://github.com/edburns/azure-dev-docs/blob/edburns-msft-dd-1165925-wls-aag-key-vault-public/articles/java/migration/migrate-weblogic-with-app-gateway.md)~
  * ~[Update createUiDefinition with lin

[2020-08-06 19:51] edburns commented on #147
AB#1165828

[2020-08-06 23:33] edburns opened #148 "Configured cluster: Release from develop to get fix for #110"

[2020-08-06 23:33] edburns opened #149 "Dynamic cluster: Release from develop to get fix for #110"

[2020-08-07 11:09] sanjaymantoor opened #150 "Enabling admin ssl port for dynamic cluster"
Dynamic cluster setup, for admin server ssl port is not enabled.

[2020-08-12 18:10] edburns commented on #130
Workflow

* Ed and Reza come up with proposed text for base offers.
* Jacob applies it in partner center to the five base image offers.

[2020-08-12 22:01] edburns opened #151 "Azure Applications: VM size limit is overly restrictive"
The VM size limit in the ARM template is overly restrictive.  Why?  Can this be relaxed?

[2020-08-12 22:27] edburns opened #152 "Azure Applications: Validation message for WLS Admin password: no special characters"
The password validation message for WebLogic should say special characters are not allowed.

[2020-08-12 22:38] edburns opened #153 "Configured Cluster: App Gateway UI"
In `createUiDefinition.json`,

* modify the regex for `keyVaultResourceGroup` to implement this, from the portal.

* modify the regex for `keyVaultName` to implement this, from the portal.

[2020-08-13 01:00] edburns opened #154 "Azure Applications: datasource config fails silently"
Testing of the database integration reveals that if the datasource config fails, the template still succeeds.  This is not correct.  If the datasource config fails, the template should fail.

I think the problem may lie in this method in the datasource config script:

[code]

[2020-08-13 20:16] edburns opened #155 "Update Oracle docs to advertise existence of Azure VM images"
Related to issue #130 .

Update [after Table 1-1](https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/get-started-oracle-weblogic-server-microsoft-azure-iaas.html#GUID-187739C5-EE7A-47C6-B3BA-C0A0333DC398).  It currently says:

[code]

Instead it should say.

[code]

[2020-08-15 20:53] edburns commented on #147
AB#1165886

[2020-08-17 16:06] edburns commented on #147
Hello @jacobt123 I certify that [arm-oraclelinux-wls-cluster-1.0.300000-arm-assembly](https://github.com/wls-eng/arm-oraclelinux-wls-cluster/suites/1058798159/artifacts/14341427) is ready to publish as the zip for the Configured Cluster offer in Partner Center.

[2020-08-17 21:49] jacobt123 commented on #147
Hello @edburns, Version 1.0.300000 published  to Partner Center. Will let you know once the preview is available for testing

[2020-08-19 02:02] edburns commented on #151
I will assign this to majguo.

[2020-08-19 02:02] edburns commented on #152
I will assign this to galiacheng.

[2020-08-19 02:03] edburns commented on #153
I will assign this to @galiacheng .

[2020-08-26 01:04] #147 closed

[2020-08-26 01:16] edburns commented on #146
Duplicate of #154

[2020-08-26 01:16] #146 closed

[2020-08-26 01:26] edburns opened #158 "Move `commandToExecute` properties that include passwords to `protectedSettings`"
For every ARM template in single node, admin, and dynamic cluster offers, make it so every time a `commandToExecute` property appears within a `settings` property, it is moved to a sibling `protectedSettings` property.  Take this diff as an example.

[code]

This work has already been done in the configured cluster offer.

[2020-08-26 03:29] majguo commented on #151
## Solution

- remove `allowedValues` for `vmSizeSelect` parameter from templates;
- move `vmSizeSelect` to required sections of `basics`;
- add `excludedSizes` vm sizes and another recommended vm size `Standard_B1ms` to `vmSizeSelect`;

## Relative PRs

- https://github.com/wls-eng/arm-oraclelinux-wls/pull/159
- https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/45
- https://github.com/wls

[2020-08-26 05:00] majguo commented on #158
## Relative PRs

- https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/46
- https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/56

## Note

Single node offer doesn't need according change as no VM extension script will be executed during deployment.

[2020-08-26 16:01] #151 closed

[2020-08-26 19:12] #130 closed

[2020-08-27 01:24] #158 closed

[2020-08-27 01:24] majguo commented on #158
Closing the issue as the relative PRs were merged.

[2020-08-27 05:45] galiacheng commented on #153
Regex for resource group:
[code]
Test case:
[code]

[2020-08-27 05:50] galiacheng commented on #153
Regex for vault name
[code]
Test cases:
[code]

[2020-08-27 09:24] sanjaymantoor opened #160 "CI/CD test scenarios failing intermittently due to nodemanager service failure"
Following test scenarios were failing intermittently

- verify-services
- verify-wls-access

[2020-08-27 09:27] sanjaymantoor commented on #160
It is noticed that  wls_nodemanager services are failing due to following exception at NodeManager log file.

java.net.UnknownHostException: adminServerVM: Name or service not known
        at java.net.Inet6AddressImpl.lookupAllHostAddr(Native Method)
        at java.net.InetAddress$2.lookupAllHostAddr(InetAddress.java:928)
        at java.net.InetAddress.getAddressesFromNameService(InetAddress.ja

[2020-08-27 19:40] #152 closed

[2020-08-27 20:20] edburns commented on #153
On branch develop
modified:   arm-oraclelinux-wls-cluster/src/main/arm/createUiDefinition.json

Reverted lines that cause this failure in the version of ARM TTK currently in use.

    [-] Textboxes Are Well Formed (160 ms)

Something about this regex causes the test to fail.

"regex": "^[a-z0-9A-Z\\.\\-\\_()]{0,89}([a-z0-9A-Z\\-\\_()]{1})$",

It might be time for us to fix https://github.com/wls-e

[2020-08-28 16:41] #153 closed

[2020-08-31 04:11] galiacheng opened #161 "Default value of domain name is inconsistent"
Default value of domain name is inconsistent from UI and template.
Offer: dynamic cluster offer and cluster offer
Default value of UI definition: `clusterDomain`
Default value of UI definition: `wlsd`

[2020-09-03 15:00] edburns opened #162 "Q2 Release Hot Fix remediation"
Upon the offers going live, it has come to light that the updates to the marketing text of the VM images caused a bump in the version numbers, which invalidated the ARM templates of the Azure Application offers.  This user story tracks the remediation efforts for this problem.

admin: Review and Publish pressed
single node: Saved as draft 1.0.18
cluster: Saved as draft 1.0.330000
dynamic cluster:

[2020-09-04 03:34] edburns commented on #162
admin: Review and Publish pressed
single node: Saved as draft 1.0.18
cluster: Saved as draft 1.0.330000
dynamic cluster: Saved as draft 1.0.20

[2020-09-04 15:40] sanjaymantoor opened #164 "Admin server restart issue using service during AAD integration when admin port 7001 is disabled"
It is noticed that admin server restart using system service causing problem in bringing admin server up.
As part of aadIntegration.sh admin server is restarted with following lines
sudo systemctl stop wls_admin
sudo systemctl start wls_admin

But it is noticed that admin server doesn't come up properly.

[2020-09-08 09:14] galiacheng opened #165 "On wls14 and java 11: exception happens when adding nodes to cluster with add-node template"
Offer: cluster
Exception happen while deploying add-node template to add nodes to weblogic cluster on wls 14 and java 11.
with:
app gateway: enable
aad: enable
db: enable

Error:
[code]

[2020-09-08 15:50] #160 closed

[2020-09-09 05:56] galiacheng commented on #165
This error happens because WebLogic version and JDK version in new node is wls 12, JDK 8. If using the some images in new node, the error can not reproduce.
Will close it.

If we have requirement to running WebLogic Cluster with nodes of different WebLogic version and Java version, create a new issue for it.

[2020-09-09 06:00] galiacheng commented on #165
Deploy tool version is too low to support JDK 11 in add-node script, re open this issue.

[2020-09-09 08:04] galiacheng commented on #165
File "/u01/domains/enroll-server.py", line 2, in <module>
    nmEnroll('/u01/domains/wlsd','/u01/domains/wlsd/nodemanager')
  File "<iostream>", line 1710, in nmEnroll
  File "<iostream>", line 548, in raiseWLSTException
        at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInst

[2020-09-09 09:12] galiacheng commented on #162
@edburns  we need to apply the latest version to 2020-07-30-01-Q2.

[2020-09-14 22:33] #165 closed

[2020-09-14 22:39] #162 closed

[2020-09-15 22:59] jacobt123 commented on #155
The Oracle documentation team has already published the updated docs https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/index.html

[2020-09-15 22:59] #155 closed

[2020-09-30 17:55] edburns opened #169 "NetworkManager disabled on eth0. Modify base images to enable it."
There are sporadic CI/CD failures that have been traced to the following root cause:

[code]

Suggested remedy:

[code]

## Detailed Analysis

Hope you are doing well. Thanks for your time over remote session. That was a pleasant talk with you. Regarding your issue, I have figured out the root cause. Please check it below:

1.	I have checked the VM adminservervm and found out the computer name set

[2020-09-30 17:56] edburns commented on #169
![image](https://user-images.githubusercontent.com/75821/94722041-ba0c3400-0324-11eb-99c7-e0141dbb6b36.png)

[2020-09-30 17:56] edburns commented on #169
![image](https://user-images.githubusercontent.com/75821/94722070-c2fd0580-0324-11eb-86cf-6f12c39555e7.png)

[2020-09-30 18:14] edburns commented on #169
From @galiacheng 👍

[code]

[2020-09-30 18:55] edburns opened #170 "SSL Configuration for admin node for Dynamic and Configured Cluster Offer"
Problem: the hostname for the app gateway (and admin console) are auto generated using a guid to ensure uniqueness.  However, SSL certs must have a hard-coded hostname.  We have two choices at deployment time:
1. Allow the user to provide the hostname as a parameter.  We would have to assume the provided hostname is unique.
   ~a. Allow the user to provide the value that is used as the guid.  In t

[2020-09-30 23:38] jacobt123 commented on #169
Offer ID: weblogic-122130-jdk8u131-ol74
file /etc/sysconfig/network-scripts/ifcfg-eth0 and changed it to :  NM_CONTROLLED=yes
captured new image and published on partner center

[2020-10-01 16:10] edburns opened #171 "Address arm-ttk failures due to Microsoft.Compute/virtualMachines is 731 days old"
[code]

[AB#1108843](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1108843)

[2020-10-01 17:00] edburns commented on #171
See https://github.com/microsoft/vscode-azurearmtools/issues/1004

[2020-10-01 21:50] edburns commented on #171
One off solution AB#1224243.

[2020-10-02 19:35] #171 closed

[2020-10-14 18:08] #169 closed

[2020-10-14 18:11] edburns opened #176 "Revert changes to disable NetworkManager"
Revert #169

After discussion with @galiacheng , we decided it was better to effect the fix by changes in the ARM templates.  Please revert this fix.

[2020-10-14 18:21] edburns commented on #170
Jacob and I discussed this today and we agreed to a simplifying assumption: we assume the user will provide a value that, when combined with the rest of the parts of the name, will be a unique hostname.

[2020-10-14 18:41] edburns commented on #170
## User Experience

1. Update the App Gateway blade to have a field that accepts the fully qualified DNS name to bind to the public IP for the App Gateway.  We assume this DNS name already exists.  This is based on [Integrate Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-custom-domain).  If not specified, the existing guid-based approach is used.
2. Update the ARM template to account f

[2020-10-14 18:49] edburns opened #177 "Load Balancer for Dynamic Cluster Offer"
Track the progress of making it so OHS as load balancer works for Dynamic Cluster offer.

[2020-10-20 05:29] galiacheng opened #181 "Parameters for DB linked template work improperly in the second deployment"
Reproduce steps:
1. create Admin Server with Admin offer
2. deploy DB linked template independently with the following command successfully
[code]
3. Create another data source by deploying the template again, with a new value for  `jdbcDataSourceName` and `dsConnectionURL`, run the above command again

Expected result: two data source are created.
Actual result: the deployment finished without er

[2020-10-20 15:33] gnsuryan commented on #170
I was able to configure an Azure DNS Alias for the WebLogic Admin Server and the Application Gateway in the WebLogic Cluster Offer.

Following are the steps followed to complete the setup:

1. Registered the Domain - wlseng-azuretest.com
2. Created a DNS Zone in the same Resource Group where the WebLogic Admin Server & Application Gateway are already created.
3. Note down the Name Servers associat

[2020-10-21 02:43] galiacheng opened #184 "Update document for DB sub template multi-deployment"
For issue https://github.com/wls-eng/arm-oraclelinux-wls/issues/181, it's not feasible to remove vm extension from template, we need to comment the workaround in documents.

Docs to update:
https://wls-eng.github.io/arm-oraclelinux-wls/admin/dbTemplate.html
https://wls-eng.github.io/arm-oraclelinux-wls/cluster/dbTemplate.html
https://wls-eng.github.io/arm-oraclelinux-wls/dynamic-cluster/dbTemplate

[2020-10-21 02:44] galiacheng commented on #181
Close this issue, we have another document issue for that https://github.com/wls-eng/arm-oraclelinux-wls/issues/184

[2020-10-21 02:44] #181 closed

[2020-10-21 09:34] galiacheng commented on #154
We should remove the data source name from bean for failure deployment.

[2020-10-21 09:38] sanjaymantoor commented on #154
Need to add
except Exception, e:
  e.printStackTrace()
  dumpStack()
  raise("$jdbcDataSourceName configuration failed")

[2020-10-21 17:55] edburns commented on #170
Thanks @gnsuryan .  Let me spell out the steps I see to automate this process with template deployment.

1. Modify the **createUiDefinition** for the cluster offer.  Modify the App Gateway blade.   Make it so the UI has a text field that allows the user to input a fully qualified domain name, assumed to be pre-created and already in public DNS.
1. Modify the app gateway nested template.
1. If the

[2020-10-21 18:22] edburns commented on #170
@gnsuryan please determine if the above actions are better implemented as an entirely separate nested template that just deals with the DNS actions, or if, as I was writing, they are better implemented as modifications to the app gateway nested template.  I'm not sure right now.

[2020-10-21 18:23] edburns opened #185 "Post-deployment action: DNS name for App Gateway (and admin console)"
Just as #170 allows you to do these DNS actions at initial deployment time, this issue enables the user to do the actions via CLI after initial deployment time.  This follows our existing pattern of exposing features two ways:
1. initial deployment time via portal
2. after deployment time via CLI

[2020-10-22 07:09] galiacheng opened #186 "Execute py script with oracle user"
Using other users to run the py script may cause tricky issue, [this issue](https://github.com/wls-eng/arm-oraclelinux-wls/issues/154#issuecomment-713441295) may be caused by executing the py script not using `oracle` user, which is under checking.
We should execute all py scripts with `oracle` user.

Effected scripts:
Admin offer:
datasourceConfig-oracle.sh
datasourceConfig-postgresql.sh
datasour

[2020-10-27 14:53] sanjaymantoor commented on #164
Investigation:
In future WebLogic admin non ssl port 7001 will be disabled. During that time admin server restart will be issue as stopWebLogic.sh will still be using 7001 port. This issue may cause problem wherever admin server stop/start is required.
Hence custom stopWebLogic script is created, which sets ADMIN_URL and calls stopWebLogic script. These changes will be part of wls_admin service on

[2020-10-27 17:41] sanjaymantoor commented on #164
Updated custom stopWebLogic script to wls_admin service wls-eng/arm-oraclelinux-wls-cluster/#90

[2020-10-27 17:45] sanjaymantoor commented on #164
https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/68

[2020-10-27 17:46] sanjaymantoor commented on #164
CI/CD worked fine for admin, static cluster and dynamic cluster
Refer
https://github.com/sanjaymantoor/arm-oraclelinux-wls-admin/actions/runs/330719269
https://github.com/sanjaymantoor/arm-oraclelinux-wls-cluster/actions/runs/330938795
https://github.com/sanjaymantoor/arm-oraclelinux-wls-dynamic-cluster/actions/runs/331342369

[2020-10-27 21:01] jacobt123 opened #187 "Disable derby for admin,singlenode, cluster and dynamic cluster"
Derby DB is presently enabled and started by default for all offers. We need to disable this so its not started by default. We won't be making any changes to the images.

[2020-10-28 11:03] gnsuryan commented on #170
I tried including the ns1-01.azure-dns.com. in the list of default name servers (that starts with @ symbol ).

I am getting the following error message during deployment.
Deployment failed. Correlation ID: 6dcdadc0-a465-46ad-bf0d-a9fb783b1375. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning st

[2020-10-28 11:06] gnsuryan commented on #170
The only option left now is to use the default Name Servers created by Azure and output them after deployment is complete, so that users can then use it for Azure DNS Delegation at their Domain Registry.

[2020-10-30 05:53] galiacheng opened #189 "Azure UI - AAD certificate file upload does not show up"
We have a file upload textbox for AAD client certificate, it does not show up in latest Azure portal.
Sceenshot:
![image](https://user-images.githubusercontent.com/59823457/97665740-28c0e680-1ab7-11eb-9596-c6d71e60b9c0.png)

[2020-10-30 15:35] sanjaymantoor commented on #177
Azure ARM template deployment with OHS installation configuration scripts are created.
Able to setup OHS server on Azure VM using ARM deployment.
Testing OHS setup with dynamic cluster. Working on minor issues noticed during testing.

[2020-10-31 09:55] gnsuryan commented on #170
I have completed the creation of Azure DNS Zone and DNS Alias (A) record entry for WebLogic Administration console (in Admin Only, Cluster & Dynamic Cluster offers) and DNS Alias Record (A) entry for Azure Application Gateway for Cluster offer.

Currently, I am working on making changes to the createUIDefinition.json file to accept user inputs for Custom SSL and DNS Configuration.

[2020-11-06 03:31] #189 closed

[2020-11-10 08:46] galiacheng opened #192 "Enhance nsg rule sub template"
This is an enhancement for https://github.com/wls-eng/arm-oraclelinux-wls/issues/58.
### Consider requirements:
1. enable the nsg rules during deployment from Azure portal
2. enable the nsg rules after an initial deployment

#### For r1 we can create Azure UI control to set whether to deny access to managed server or not.

As shown in the following image, add an option `Deny access Managed Servers

[2020-11-10 08:49] galiacheng commented on #192
@edburns  @sanjaymantoor  @jacobt123 please review the requirement and add your comment.

[2020-11-12 08:59] sanjaymantoor commented on #192
My suggestions to this

1.  Deny access option should be available for both admin console port (7001,7002) as well
    There can be 2 options
    - One for admin console port ( 7001, 7002)
    - One for managed server ports (8001 - range)
2. Admin and managed server ports are independent of appgateway , hence I feel it is good to put these options under Basics tab section
3. There can be two NSG n

[2020-11-12 13:53] jacobt123 commented on #176
New image created for Plan ID: owls-122130-8u131-ol74 after reverting #169

[2020-11-12 13:53] #176 closed

[2020-11-12 17:44] edburns opened #193 "Upgrade FMW Version 2020-11-12"
[AB#1245845](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1245845)

[2020-11-12 21:31] edburns commented on #192
@jacobt123 and I reviewed this and request the following modifications.

- The setting should be such that "deny" is selected by default. We may need to account for this change in our testing.  We **will** need to account for this change in our documentation.
- Please do move the setting to the basics blade.
- Please do modify the UI to account for @sanjaymantoor 's suggestion of "one for admin co

[2020-11-13 02:14] edburns commented on #192
@galiacheng  and I discussed this in our stand-up meeting today and need some guidance about the way forward for this feature.

If we put the feature on the "basics" blade, then it is possible for the user to make their cluster inaccessible if they do not choose to have an App Gateway configured.

What is the motivation for putting the feature on the "basics" blade instead of the "App Gateway" bla

[2020-11-13 04:22] sanjaymantoor commented on #192
Initial discussion with our internal stand-up meeting was to block admin and managed server ports. If user wants to gain access then NSG rule can explicitly modified by adding public IP of user machine. By that user can regain access to admin server console and cluster.
I will put your comment in further discussion with our internal meeting. It needs to be decided whether we can always block manag

[2020-11-13 06:08] galiacheng opened #194 "CI/CD failure on verifying Weblogic Server Access"
This failure happened since Nov 11th, latest build always failed on image `owls-122130-8u131-ol73;Oracle:weblogic-122130-jdk8u131-ol73:owls-122130-8u131-ol7;latest`.

[2020-11-13 16:26] sanjaymantoor commented on #177
Azure ARM OHS template is made as nested template for dynamic cluster.
Dynamic cluster mainTemplate.json invokes ohsNestedTemplate.json once after clusterTemplate.json.
ohsNestedTemplate makes use of some values like "storage account", "virtual network" and "admin url" from clusterTemplate. OHS setup will be made on new VM, which makes use of existing resources "storage account" and "virtual netwo

[2020-11-16 06:49] galiacheng commented on #194
Close this issue, the latest builds worked fine. Will reopen if needed.

[2020-11-16 11:48] gnsuryan commented on #170
I have completed the changes to createUIDefinition.json file to accept users inputs for Custom SSL and DNS configurations for all the three offers (admin Only, Cluster & Dynamic Cluster).

I am currently working on merging the changes in to the wls-eng branch, as there are many changes that have happened in the last few weeks. I will merge the changes, test and then create a Pull Request once ever

[2020-11-18 05:20] galiacheng opened #196 "WebLogic Warning: This server is not secure. Upgrade to Java 1.8.0_181 or higher"
Screenshot:
![image](https://user-images.githubusercontent.com/59823457/99486805-e3018a80-299f-11eb-8720-32b09809c061.png)

on images:
 "owls-122130-8u131-ol73;Oracle:weblogic-122130-jdk8u131-ol73:owls-122130-8u131-ol7;latest"
 "owls-122130-8u131-ol74;Oracle:weblogic-122130-jdk8u131-ol74:owls-122130-8u131-ol7;latest"

TBD:
1. create the images with new jdk version.
2. create new offers in partner

[2020-11-18 05:22] galiacheng commented on #196
Hello @edburns  @jacobt123 FYI, please review the actions and add you comment.

[2020-11-18 05:51] jacobt123 commented on #196
Yes @sanjaymantoor pointed this out over the weekend and this is one of the issues I was planning on discussing with @edburns during our weekly meeting. My suggestion would be to do away with images with specific JDK versions and have one image per version of WLS + OL. We will have to keep the image updated with the latest Java CPU and the latest quarterly WLS patch. So at any given point the imag

[2020-11-18 06:10] galiacheng commented on #196
@jacobt123 thanks for your quick update! So we will rename all the images, removing the jdk version, right?

[2020-11-18 19:27] edburns commented on #196
@jacobt123  and @edburns  discussed this today and defined the following way forward:

1. Publish a new set of five base images, one for each of the existing base images
    * Each image is a duplicate of the corresponding existing one, the only difference being the name/offerid/SKU/URN does not have the "uNNN" portion.  Instead it would have "jdk8" or "jdk11".
   * Each image is the same in every

[2020-11-18 19:42] edburns commented on #192
@jacobt123  and @edburns  discussed this today and have the following recommendations:

- On the "Basics" blade, have the UI to deny/allow the ports for the admin server.
- On the "App Gateway" blade, have the UI to deny/allow the ports for the worker nodes.

[2020-11-19 01:51] #193 closed

[2020-11-27 06:30] sanjaymantoor commented on #194
I am checking at https://github.com/wls-eng/arm-oraclelinux-wls-cluster/actions
It looks many times it is failing but it is passing in between also. I will look into it.

[2020-11-27 06:45] sanjaymantoor commented on #177
Working on OHS SSL termination. OHS uses Oracle Wallet, which needs to be created at OHS Server VM and give a reference. Changes with respect to Oracle Wallet is completed. Tested with self signed certificates which makes use of JKS certificate.
Working on PKCS12 support changes.

[2020-11-27 09:42] galiacheng commented on #194
Thanks for your checking @sanjaymantoor

[2020-12-02 03:15] edburns commented on #58
AB#1253113

[2020-12-02 21:47] edburns commented on #196
Hello @jacobt123, as discussed today, I have created the **20201202-hotfix branches**.
* https://github.com/wls-eng/arm-oraclelinux-wls/tree/20201202-hotfix
* https://github.com/wls-eng/arm-oraclelinux-wls-admin/tree/20201202-hotfix
* https://github.com/wls-eng/arm-oraclelinux-wls-cluster/tree/20201202-hotfix
* https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/tree/20201202-hotfix
Ple

[2020-12-03 05:32] galiacheng opened #197 "Create tag 2020-12-02-01-Q4"
We need to create tag to include changes of ELK and Coherence.

I have issued PRs to create tag with one click:

- [wls-singlenode-new-tag](https://github.com/wls-eng/arm-oraclelinux-wls/pull/198)
- [wls-admin-new-tag](https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/64)
- [wls-cluster-new-tag](https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/96)
- [wls-dynamic-cluster-new-tag]

[2020-12-04 01:13] galiacheng commented on #197
Need to create GitHub secrets USER_EMAIL and USER_NAME in https://github.com/wls-eng/arm-oraclelinux-wls.

[2020-12-04 02:54] galiacheng commented on #194
@sanjaymantoor  I found that most of failures were caused by "connection closed by remote server".
There may be something to do with SSH.
I found few failure on the first SSH connection that verifies WLS installation using `verify-wls-path.sh`.

I have two suggestion to fix the failure:

- For `verify-wls-access.sh` use public IP to access the WLS and execute the script in Ubuntu machine that GitH

[2020-12-04 02:56] galiacheng commented on #194
A tip to keep the failure machines:

Change the condition of the following step to `success()`. Pls do not forget to remove the resource after investigation.
[code]

[2020-12-04 03:20] sanjaymantoor commented on #194
Yes, even I noticed same. Seeing script is exiting without next command executed.

[2020-12-09 04:48] galiacheng commented on #194
Hello @sanjaymantoor FYI given you are busy on the hotfix, I am trying to fix this issue with my previous proposal in my repo.

[2020-12-09 09:18] galiacheng opened #199 "CI/CD failure on validating delete node template"
We have CI/CD failures in cluster offer which caused by deleting nodes from cluster via delete-node template.

Happens on 12.2.1.4 image since 2020-11-15.

Root cause: the Coherence servers started with exception.  When deleting the server, received error message from Node Manager Server: [WebLogic Server 'managedServer2' is not currently running].

[2020-12-09 22:20] edburns commented on #196
merged arm-oralcelinux-wls
merged arm-oraclelinux-wls-admin

[2020-12-10 03:27] #184 closed

[2020-12-10 03:30] #154 closed

[2020-12-10 03:30] #186 closed

[2020-12-10 03:30] #194 closed

[2020-12-11 02:43] galiacheng commented on #199
Error:
[code]

[2020-12-11 08:14] galiacheng commented on #199
Error:
[code]

[2020-12-11 08:22] galiacheng commented on #199
Node manager log:
[code]

[2020-12-11 08:26] galiacheng commented on #199
From this page [Oracle Weblogic 12.2.1.4 - WLS PATCH SET UPDATE 12.2.1.4.191220 fix Coherence Exception (Wrapped) null](https://blog.dba.bg/index.php/kkovachki/oracle/oracle-weblogic-12-2-1-4-wls-patch-set-update-12-2-1-4-191220-fix-coherence-exception-wrapped-null), we should apply p30729380_122140_Generic.zip.

[2020-12-11 09:35] galiacheng commented on #199
[After Applying Patch 30689820(WLS 12.2.1.4.191220) Managed Server Fails To Start Due To Coherence Errors](https://support.oracle.com/epmos/faces/DocumentDisplay?_afrLoop=423437838176196&parent=EXTERNAL_SEARCH&sourceId=PROBLEM&id=2634266.1&_afrWindowMode=0&_adf.ctrl-state=196qh5zzf1_409)

[2020-12-14 02:19] galiacheng opened #202 "Apply Coherence patches to 12.2.1.4.0 images"
Error: failed to configure Coherence cluster with image `WebLogic Server 12.2.1.4.0 Base Image and JDK8u251 on OL7.6`.

**Influenced branch**
arm-oraclelinux-wls-cluster/develop
arm-oraclelinux-wls-dynamic-cluster/develop

**Influenced images**
`WebLogic Server 12.2.1.4.0 Base Image and JDK8 on OL7.6`
`WebLogic Server 12.2.1.4.0 Base Image and JDK8u251 on OL7.6`

**Details**
After 2020-11-14 updat

[2020-12-14 02:20] galiacheng commented on #202
Hello @jacobt123 @edburns  could you take a look at this issue? Thanks!

[2020-12-14 02:27] galiacheng commented on #199
After applied the above patches, the Coherence servers start without exception.

[2020-12-14 02:31] galiacheng commented on #199
We have two options to fix this issue:
1. Apply the patches to base image `WebLogic Server 12.2.1.4.0 Base Image and JDK8u251 on OL7.6`
2. Apply the patches via VM extension dynamically

   - Have to ask customer a oracle support account to download the patches, or provide create a default account.

   - Apply the patches via OPatch

[2020-12-15 01:40] edburns commented on #202
Thanks for finding this @galiacheng .

[2020-12-15 03:22] jacobt123 commented on #197
@galiacheng this is already done. Ed had requested last week and this was done on 12/10

[2020-12-15 03:26] galiacheng commented on #197
@jacobt123  cool, thank you, Jacob! Ed will create the tag, just make sure there are secrets to create a branch for pids.

[2020-12-15 08:15] galiacheng commented on #135
Though the frontend host is set, the test points url of application still show up with private IP.

[2020-12-16 07:22] galiacheng commented on #197
We have 2020-12-02-01-Q4 tag for 4 offers, close this issue.

[2020-12-16 07:22] #197 closed

[2020-12-16 19:22] edburns commented on #202
Discussed at 2020-12-16 meeting. Resolved to act on this after the 20201202-hotfix release is live.

[2020-12-23 02:03] edburns commented on #145
See AB#1212676

[2020-12-23 02:04] edburns commented on #170
Notes for 2020-12-23 Weekly Oracle sync

- What is the status of this work and #185 ?
- If the work is stalled, please share the current state, because are working on this regarding #145.
- If the work is still ongoing, we need coordinate integrating it with our work on #145 .

[2020-12-23 09:25] galiacheng opened #207 "Admin offer SSL configuration: provide option for automated Key Vault creation with uploaded SSL certificate"
This is an enhancement for #170

Same requirement with #145

Proposed an option for automated Key Vault creation with uploaded SSL certificate.
![image](https://user-images.githubusercontent.com/59823457/102981241-a64b2500-4543-11eb-9de8-8bcd415f410c.png)

We can add secretes deployment to the some key vault that created in #145.

[2020-12-23 09:33] gnsuryan commented on #185
This work was put in the backlog, due to the issue faced during the configuration of Custom SSL setup for Configured & Dynamic Clusters with HTTP Listen port for Admin  Server disabled and self-signed certificate configured. (Issue#

Now that the issue is resolved, I will actively work on closing the [issue#170](https://github.com/wls-eng/arm-oraclelinux-wls/issues/170)

Once that is complete, whi

[2020-12-23 09:53] galiacheng commented on #199
Close this issue, as we will fix it in #202

[2020-12-23 09:53] #199 closed

[2020-12-24 02:50] galiacheng opened #208 "DNS configuration: provide an option for an existing DNS zone"
This is an enhancement for #170

As @edburns and @galiacheng discussed in the standup meeting, we can provide an option to input an existing DNS zone. I also sent this idea to @gnsuryan from slack.

Create an issue to put nodes:
1. Why?
    From @gnsuryan

   DNS management is a general requirement, not WLS specified.
   Customers may have requirement to reuse the same DNS zone, managing DNS in a

[2020-12-24 02:54] galiacheng commented on #208
AB#1260621

[2020-12-24 04:27] galiacheng commented on #208
For

We can add an existing name server to the zone, shown as the screenshot.
![image](https://user-images.githubusercontent.com/59823457/103060489-4015df00-45e3-11eb-9be0-b83e88042294.png)

We should allow the customer to input the additional name servers.

[2020-12-24 05:02] galiacheng commented on #208
From [azure-dns-ns-records](https://docs.microsoft.com/en-us/azure/dns/dns-zones-records#ns-records), it's not feasible to change the default name servers.

This record set contains the names of the Azure DNS name servers assigned to the zone. You can add additional name servers to this NS record set, to support co-hosting domains with more than one DNS provider. You can also modify the TTL and me

[2020-12-28 07:38] galiacheng opened #209 "Enhance keyvault experience with KeyVaultCertificateSelector UI element"
Scenarios that we ask the customer to input an existing key vault:
1. cluster - application gateway configuration
2. admin - SSL configuration

Azure UI definition provides [Microsoft.KeyVault.KeyVaultCertificateSelector](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/microsoft-keyvault-keyvaultcertificateselector) UI element, we can apply it for better experien

[2020-12-31 15:52] edburns opened #210 "Instructions for documenting ELK integration in admin, configured cluster, and dynamic cluster offers."
Instructions for documenting ELK integration in admin, configured cluster, and dynamic cluster offers.

These changes need to be made on the following pages.

* [Deploy Oracle WebLogic Server With Administration Server on a Single Node](https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/deploy-oracle-weblogic-server-administration-server-single-node1.html)

* [Deploy Oracle Web

[2020-12-31 16:28] edburns opened #211 "Instructions for documenting Coherence*Web integration in configured cluster and dynamic cluster offers."
Instructions for documenting Coherence*Web integration in configured cluster and dynamic cluster offers.

These changes need to be made on the following pages.

* [Deploy Oracle WebLogic Server N-Node Configured Cluster](https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/deploy-oracle-weblogic-server-n-node-configured-cluster.html)

* [Deploy Oracle WebLogic Server N-Node Dynam

[2021-01-05 00:55] edburns commented on #196
![image](https://user-images.githubusercontent.com/75821/103594495-d640e380-4ec6-11eb-9c3f-789dbff9a8b3.png)
Resolved.

[2021-01-05 00:55] #196 closed

[2021-01-08 15:39] sanjaymantoor commented on #177
Able to create OHS base images successfully on Oracle Linux 7.3, 7.4 and 7.6.
Also able to make use of base images for dynamic cluster testing.
Currently testing the OHS with all WebLogic version combinations.

[2021-01-08 15:53] edburns commented on #177
@sanjaymantoor  this is great news!

[2021-01-13 17:42] edburns commented on #177
@sanjaymantoor can you please give me an estimate on when the PR will be ready for review? I currently see [no open PRs on the dynamic cluster repo](https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pulls).

[2021-01-13 18:19] edburns opened #213 "Update doc for app gateway"
Update Microsoft Tutorial: https://docs.microsoft.com/en-us/azure/developer/java/migration/migrate-weblogic-with-app-gateway

[AB#1259896](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1259896)

[2021-01-13 18:21] edburns opened #214 "Create doc for DNS configuration"
In similar fashion to #211 this will be documented on the Oracle side.

Update [this redirect link](https://aka.ms/arm-oraclelinux-wls-dns) to point to this documentation.

[2021-01-13 18:21] edburns commented on #214
AB#1261117

[2021-01-15 17:12] sanjaymantoor commented on #177
@edburns
I have created PR https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/82 for OHS as load balancer for dynamic cluster.

[2021-01-17 04:17] edburns opened #215 "Alter Oracle internal CI/CD for base image creation to use SSH instead of password in parameters.json"
Hello Jacob,

The long term solution is to modify your *parameters.json* to use SSH
instead of password for the admin account.  Like this.

[code]

The existing *azuredeploy.json* will still work.

A workaround is to modify *azuredeploy.json* to add this tag:

[code]

If you need to use the workaround now, that's fine. But please let's use
this issue to track transitioning your CI/CD to use the lo

[2021-01-20 19:13] edburns opened #217 "Make it so a patching step happens at base image creation time"
**As a** developer running the CI/CD pipeline that creates WLS base images for the Azure marketplace, **I want** a script to run **so that** the base image contains all the latest relevant Oracle patches available at the time the pipeline is run.

[2021-01-20 19:29] edburns opened #218 "Accommodate SSH Key for VM Login instead of username/password"
As an engineer working on Java EE on Azure VMs, I want to know how we make our VM offers compliant with the security policy so that we can change our existing WLS on VMs work without impacting the schedule too much.

[AB#1266472](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1266472)

[2021-01-20 19:38] edburns opened #219 "Update Oracle Docs to account for deployment time hide/show of admin and managed server ports"
Places in the Oracle docs that need updates for this feature.

- https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/deploy-oracle-weblogic-server-administration-server-single-node1.html
- https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/deploy-oracle-weblogic-server-n-node-configured-cluster.html
- https://docs.oracle.com/en/middleware/standalone/weblogic-

[2021-01-20 19:40] edburns commented on #219
AB#1267991

[2021-01-21 19:22] edburns commented on #177
Hello @sanjaymantoor , I have merged https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/82. I made formatting changes before doing so.

[2021-01-21 19:23] #177 closed

[2021-01-22 06:58] zhengchang907 commented on #219
For single node/configured cluster/dynamic cluster offers, in the Basic blade section, after bullet point 'Ports and port ranges to expose (N or N-N, comma separated)...', please add another bullet point as follows:
--------------- text start ---------------
**Deny public traffic for admin server?**: Choose the option of how you'd like to manage the public traffic of the admin server. When you sel

[2021-01-23 00:09] edburns opened #221 "Instructions for documenting how to use OHS as load balancer for Dynamic Cluster offer"
- Portal Documentation
- GitHub Pages Documentation

[2021-01-25 08:03] galiacheng commented on #207
#AB1269328
@zhengchang907  and @galiacheng is working on this experience.

[2021-01-25 08:04] galiacheng commented on #208
Done in cluster offer.

[2021-01-25 08:05] galiacheng commented on #208
Working on admin offer.
Plan to work on dynamic offer.

[2021-01-25 08:06] galiacheng commented on #145
Close the issue, as the PR has been merged.

[2021-01-25 08:06] #145 closed

[2021-01-25 10:56] sanjaymantoor opened #222 "Update OHS UI definitions and setupOHS script for dynamic cluster"
- Update enableOHS output parameter
- Add default values for HTTP/HTTPS port
- Handling start/stop component with supplied OHS_COMPONENT_NAME parameter
- Display ohs access url for user information at execution output

[2021-01-26 14:47] #208 closed

[2021-01-26 22:58] jacobt123 commented on #202
@galiacheng Updated image WebLogic Server 12.2.1.4.0 Base Image and JDK8 on OL7.6. Once its in preview, please check if it fixes the failure with Coherence

[2021-01-27 01:52] galiacheng commented on #202
@jacobt123 I will have a look today, thank you!

[2021-01-27 09:32] galiacheng commented on #222
Hello @sanjaymantoor can we set default value to domain name and component name also?

[2021-01-27 18:11] edburns opened #224 "Instructions for documenting "Cause a system assigned managed identity to be created for the VM(s).""
On the following pages:

- https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/deploy-oracle-weblogic-server-administration-server-single-node.html
- https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/deploy-oracle-weblogic-server-administration-server-single-node1.html
- https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/deploy-oracle-web

[2021-01-27 18:12] edburns commented on #224
AB#1268704

[2021-01-28 05:33] sanjaymantoor commented on #222
Sure, I will include default values to domain and component names as well.

[2021-01-28 05:34] galiacheng opened #225 "SSL enabled causes AAD failure"
Deploying admin offer with custom SSL and AAD enable, error happened on AAD LADP server connection.

[code]

**Root cause**
The admin offer enables custom SSL configuration, by asking customer to input identity and trust key store and configuring WebLogic Server with `Custom Identity and Custom Trust `.

While the AAD LDAP server public key is imported to **Java Standard Trust** in `/u01/app/jdk/j

[2021-01-28 05:51] galiacheng opened #226 "Discuss WebLogic Server certificates and keys management"
This issue is to discuss WLS certificates and keys management, all of your ideas are very valuable.

**Requirements**
We will have more and more certificates as Azure WebLogic IaaS offer becomes stronger. Currently we have to manage the following certificates:

- AAD LADP Server public key (client certificate), `.cer` format
- WebLogic Server SSL identity to enable inbound SSL
- WebLogic Server SS

[2021-01-28 07:14] galiacheng commented on #225
Hello @gnsuryan FYI, I believe the working custom SSL solution on cluster and dynamic cluster offer also have this issue.

[2021-01-28 07:26] galiacheng commented on #226
Hello @edburns @jacobt123 @gnsuryan @sanjaymantoor @zhengchang907 could you please have a look at this topic and feedback, thank you.

[2021-01-28 08:50] galiacheng commented on #202
The image offer is still in Preview creation, will check it again tomorrow.
![image](https://user-images.githubusercontent.com/59823457/106112968-ddd36f80-6188-11eb-9385-2bdd8e3dca4e.png)

[2021-01-29 18:14] edburns commented on #226
AB#1271190

[2021-02-01 01:49] galiacheng commented on #135
Hello @sanjaymantoor , this is the issue that application test point url shows private IP. Please add your findings here.

[2021-02-02 02:59] #222 closed

[2021-02-03 13:34] gnsuryan commented on #225
Hi Galia @galiacheng ,

I was able to resolve the issue with AAD connectivity, if we import the LDAP certificate into the WLS Custom SSL Trust (trust.jks or trust.pkcs12) file.

I have used the following command to import the LDAP certificate into the WLS trust key store.

keytool -noprompt -import -trustcacerts -keystore /u01/app/keystores/trust.jks -storepass mypassword -alias aadtrust -file /u0

[2021-02-03 14:20] galiacheng commented on #225
@gnsuryan Good news! Could you please create a PR to admin offer?

[2021-02-03 19:22] edburns commented on #202
@galiacheng @jacobt123 confirmed this is testable now. Can you please give it another try?

[2021-02-04 00:10] edburns opened #232 "Instructions for documenting SSH key for VM login"
See also #218

[2021-02-04 03:37] edburns opened #233 "Update Marketplace Verbiage for Single Node offer for 2021-Q1 release"
[AB#1277116](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1277116)

[2021-02-04 03:57] edburns opened #234 "Update Marketplace Verbiage for Configured Cluster offer for 2021-Q1 release"
[AB#1277116](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1277116)

[2021-02-04 03:59] edburns opened #235 "Update Marketplace Verbiage for Dynamic Cluster offer for 2021-Q1"
[AB#1277116](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1277116)

[2021-02-04 04:00] edburns opened #236 "Update Marketplace Verbiage for Admin offer for 2021-Q1"
[AB#1277116](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1277116)

[2021-02-04 13:26] gnsuryan commented on #225
Hi Galia @galiacheng ,

I have created Pull Request  https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/82 containing the fix for this issue.

[2021-02-05 01:56] edburns opened #237 "Instructions for documenting SSL Configuration on Configured and Dynamic Cluster Blades"
See [AB#1273384](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1273384).

[2021-02-05 02:04] edburns commented on #170
Hello @gnsuryan This one is very important for the Q1 release.  We are counting on you to implement this feature for the Dynamic and Configured Clusters, in similar to what you did on the admin offer.  After you have done it, @zhengchang907  will improve the experience similar to what he did on the admin offer.

[2021-02-05 02:37] edburns opened #238 "Create gh-pages page for deploying OHS as load balancer"
Similar to [this page for app gateway](https://wls-eng.github.io/arm-oraclelinux-wls/cluster/appGatewayNestedTemplate.html).

The page would be to [like this](https://wls-eng.github.io/arm-oraclelinux-wls/dynamic-cluster/ohsNestedTemplate.html).

[2021-02-05 06:31] gnsuryan commented on #225
Hi Galia @galiacheng , can you please check if the fix works and if so, close the issue? Thanks.

[2021-02-05 09:22] galiacheng commented on #225
@gnsuryan  thank you Guru, I will check and close this issue next Monday.

[2021-02-05 16:28] sanjaymantoor opened #239 "Dynamic cluster createUiDefinition.json throwing error during testing at sandbox"
**Issue noticed:**
arm-oraclelinux-wls-dynamic-cluster createUiDefinition.json is throwing following error when it is tested at Azure SandboxBlade.

_"The element for [basics('basicsOptional').useSystemAssignedManagedIdentity] could not be found in the createuidefinition"_

I think recent change "[Add system assigned managed identity and ELK index cleanup (#91)](https://github.com/wls-eng/arm-orac

[2021-02-05 16:32] sanjaymantoor commented on #239
Currently live OHS base images skuUrnVersion update and testing is waiting for this fix.

[2021-02-07 01:16] galiacheng commented on #239
Hello @zhengchang907 , could you have a check, thank you!

[2021-02-07 01:42] zhengchang907 commented on #239
Thank you @galiacheng!
Hi @sanjaymantoor , thanks for creating the issue. I've located the problem and fired a PR for it: https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/94

[2021-02-07 16:23] sanjaymantoor opened #240 "Updating OHS ARM template with latest live OHS base images"
Update OHS ARM template with latest OHS base images available

- OHS 12.2.1.4.0 and JDK8 on Oracle Linux 7.3 : ohs-122140-jdk8-ol73;ohs-122140-jdk8-ol73;latest
- OHS 12.2.1.4.0 and JDK8 on Oracle Linux 7.4 : ohs-122140-jdk8-ol74;ohs-122140-jdk8-ol74;latest
- OHS 12.2.1.4.0 and JDK8 on Oracle Linux 7.6 : ohs-122140-jdk8-ol76;ohs-122140-jdk8-ol76;latest

[2021-02-07 16:39] sanjaymantoor commented on #240
Create PR https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/96

[2021-02-08 05:05] zhengchang907 commented on #170
@edburns @gnsuryan I've created related task for adding key vault automation to the SSL configuration blade for the Configured Clusters offer #AB1275906

[2021-02-08 05:10] zhengchang907 commented on #239
@sanjaymantoor Hi Sanjay, the PR is merged, can you please verify & close this issue?

[2021-02-08 06:32] galiacheng opened #242 "Create data disk optionally"
Current offers will provision 2 disk for each VM, OS disk and data disk.
There are no data and activities on data disk, but it costs money.
![image](https://user-images.githubusercontent.com/59823457/107183774-59031400-6a1a-11eb-8ffa-4dd50ff458ba.png)

Can we create it optionally?

[2021-02-08 06:35] galiacheng commented on #242
Hello @edburns  @jacobt123  could you have a look at this issue.
The question was asked by a customer, I tried remove data disk and it didn't stop WLS.
I think we can create a UI option for the data disk.

[2021-02-08 07:24] galiacheng commented on #202
@jacobt123 @edburns  I have verified the preview image WebLogic Server 12.2.1.4.0 Base Image and JDK8 on OL7.6, the deployment succeeded . I deployed an coherence application to the cluster, it worked fine.

![image](https://user-images.githubusercontent.com/59823457/107187873-a46cf080-6a21-11eb-8232-a7633f375da1.png)

[2021-02-08 07:37] galiacheng commented on #225
I have created a testing offer. Will test it when it's ready

[2021-02-08 11:12] sanjaymantoor opened #243 "Dynamic cluster issues for dependencies and arguments"
1) Nested template dependencies

-   Add elkLinkedTemplate dependencies for "aadLinkedTemplateWithCustomSSL"

-  Add coherenceTemplate dependency for ohsLinkedTemplate to make sure there is no server restart on other templates

2) Update aadIntegration.sh argument count
3) Update adminSecuredConsole

[2021-02-08 12:56] gnsuryan opened #244 "Configured Cluster - dependency issues and handling scenario in Coherence setup where admin port 7001 is disabled"
Configured Cluster - dependency issues and handling scenario in Coherence setup where admin port 7001 is disabled

[2021-02-09 00:34] edburns opened #245 "Jacob end-to-end review for WLS on VMs Q1 release. (was: Obtain oracle review for updated App Gateway documentation)"
Please see [work-in-progress article](https://github.com/edburns/azure-dev-docs/blob/edburns-msft-dd-1259896-app-gateway-update-public/articles/java/migration/migrate-weblogic-with-app-gateway.md)

[2021-02-09 00:36] edburns commented on #245
AB#1276329

[2021-02-09 03:39] galiacheng commented on #225
Verified.

[2021-02-09 04:23] sanjaymantoor commented on #150
Changes are merged, hence closing this issue.

[2021-02-09 04:23] #150 closed

[2021-02-09 04:23] sanjaymantoor commented on #240
Changes are merged, hence closing the issue.

[2021-02-09 04:25] #240 closed

[2021-02-09 04:29] #239 closed

[2021-02-09 04:29] sanjaymantoor commented on #239
Changes are merged and tested.

[2021-02-09 04:31] sanjaymantoor commented on #243
Changes are merged under PR https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/97

[2021-02-09 04:31] #243 closed

[2021-02-09 04:45] galiacheng commented on #225
@gnsuryan I reopen this issue, as I found an issue when deploying `aadLinkedTemplateWithCustomSSL` in dynamic cluster.
[code]

[2021-02-09 09:12] gnsuryan opened #247 "Temp directory creation for script handling is missing in aadIntegration.sh for Dynamic Cluster offer"
Temp directory creation for script handling is missing in aadIntegration.sh for Dynamic Cluster offer

[2021-02-09 09:47] galiacheng commented on #225
Close this issue, I can deploy with SSL enabled with Guru's parameters.

[2021-02-09 09:47] #225 closed

[2021-02-09 23:20] edburns opened #249 "Instructions for documenting Key Vault Automation for OHS"

[2021-02-10 01:39] galiacheng commented on #226
Close this issue as the AAD failure has been resolved.

[2021-02-10 01:39] #226 closed

[2021-02-10 01:41] galiacheng commented on #213
Close this issue, we have #245 @edburns is working on now.

[2021-02-10 01:41] #213 closed

[2021-02-11 06:12] gnsuryan commented on #247
This issue is now resolved.

[2021-02-11 06:12] #247 closed

[2021-02-11 06:13] gnsuryan commented on #244
This issue is now resolved

[2021-02-11 06:13] #244 closed

[2021-02-11 18:48] edburns commented on #210
Please see [work in progress link](https://github.com/edburns/azure-dev-docs/blob/edburns-msft-dd-1163066-wls-elk-tutorial-public/articles/java/migration/migrate-weblogic-with-elk.md)

[2021-02-11 18:49] #218 closed

[2021-02-11 19:06] edburns opened #251 "YouTube video showing cluster offer new feature set"

[2021-02-11 19:13] edburns commented on #245
[gh-245.pdf](https://github.com/wls-eng/arm-oraclelinux-wls/files/5967869/gh-245.pdf)

[2021-02-11 19:18] edburns commented on #210
[gh-210.pdf](https://github.com/wls-eng/arm-oraclelinux-wls/files/5967900/gh-210.pdf)

[2021-02-11 19:29] edburns commented on #249
Please see #245 for link to ms doc containing appropriate text for documenting the options for providing the SSL certificate.

[2021-02-11 19:34] #238 closed

[2021-02-11 19:35] #210 closed

[2021-02-11 19:36] #224 closed

[2021-02-12 08:21] gnsuryan commented on #237
The SSL Configuration blade has already been documented as follows for both Configured and Dynamic Cluster Offers:

<div class="section">
                  <p class="subhead1"><b>SSL Configuration</b></p>
                  <p>The <b>SSL Configuration</b> allows you to configure Oracle WebLogic Administration Console on a secure HTTPS port, with your own SSL certificate provided by a Certifying Aut

[2021-02-12 09:33] gnsuryan opened #252 "Incorrect reference to Cluster SSL/normal Template during deployment of dnszonesLinkedTemplate in Dynamic Cluster offer"
Incorrect reference to Cluster SSL/normal Template during deployment of dnszonesLinkedTemplate in Dynamic Cluster offer

Please refer to https://raw.githubusercontent.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/develop/arm-oraclelinux-wls-dynamic-cluster/src/main/arm/mainTemplate.json

The following line of code is currently:
"targetResources": {
                        "value": "[if(parameter

[2021-02-12 09:39] gnsuryan opened #253 "Modify nodemanager SSL configuration to support strict checking by JDK11 and other higher versions of JDK"
JDK11 and other higher versions of JDK have strict checks regarding SSL configuration and therefore require more specific information to be configured in the nodemanager configuration.

As per Weblogic Server Documentation for SSL configuration for NodeManager, (Refer [https://docs.oracle.com/en/cloud/paas/java-cloud/jscug/configure-ssl-weblogic-server.html#GUID-9AA01706-5782-4C1A-9DFB-603F425D8C7

[2021-02-15 06:27] sanjaymantoor opened #254 "Exit OHS if adding JKS is unsuccessful to Oracle Wallet"
OHS should exit if Oracle Wallet is unable to import the supplied JKS key store.

[2021-02-15 09:11] sanjaymantoor opened #255 "Update ohsNestedTemplate gh-pages for self signed certificate commands"

[2021-02-16 20:36] #254 closed

[2021-02-17 05:54] gnsuryan commented on #253
The changes related to this issue are fixed and merged in to the wls-eng branch for all Configured & Dynamic Cluster offers.

[https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/102](https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/102)

[2021-02-17 05:54] #253 closed

[2021-02-17 19:10] #170 closed

[2021-02-17 19:11] #211 closed

[2021-02-17 19:11] #214 closed

[2021-02-17 19:12] #219 closed

[2021-02-18 02:13] galiacheng commented on #252
@gnsuryan Thank you! I will fix it right now. We should include both IP output from SSL and non-SSL.

[2021-02-18 06:18] galiacheng commented on #252
Checked:  the IP reference in configured cluster is ok.

[2021-02-18 20:39] #252 closed

[2021-02-19 00:08] #202 closed

[2021-02-19 16:00] sanjaymantoor commented on #58
@jacobt123 @edburns  I believe the pending work for this issue is already covered in issue [Enhance nsg rule sub template #192](https://github.com/wls-eng/arm-oraclelinux-wls/issues/192) .
@galiacheng Please confirm.

[2021-02-20 02:55] galiacheng commented on #58
@jacobt123  @edburns  confirmed with @zhengchang907 we have finished #192 , I will close this issue.

[2021-02-20 02:55] #58 closed

[2021-02-20 02:55] #192 closed

[2021-02-20 02:58] zhengchang907 commented on #192
PRs:
Dynamic Cluster: https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/93
Configured Cluster: https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/110
Admin: https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/73

[2021-02-23 20:01] edburns opened #263 "Share review notes from 2021-02-12 Docs draft with Jacob"
* I changed "SSL" to "TLS/SSL" throughout the UI of all the
  offers. Please do a global search and replace of "SSL Configuration"
  to "TLS/SSL Configuration".

* Location: PDF page 25/61, aka Doc page 2-16, aka after Table 2-8 at
  the bottom of the page:

  Remove the text that starts with "The HTTPS SSL... and ends with
  "WebLogic Server."

* Location: Table 3-4:

  I suggest we redo the appr

[2021-02-24 09:00] zhengchang907 opened #265 "'Learn more' on 'Elasticsearch and Kibana' blade leads to a bad page"
@edburns Hi Ed, can you please take a look at this invalid link issue?
![image](https://user-images.githubusercontent.com/74032668/108975441-76460c80-76c1-11eb-9791-bacb3855fefb.png)
In Configured Cluster offer (deployed using latest code on develop branch), the FIRST 'Learn more' page link: https://docs.microsoft.com/en-us/azure/developer/java/migration/migrate-weblogic-with-elk is not valid anym

[2021-02-24 22:37] edburns commented on #265
@zhengchang907 this PR is not published yet.  See https://github.com/wls-eng/arm-oraclelinux-wls/issues/210#issuecomment-777709296

[2021-02-24 22:37] #265 closed

[2021-02-24 22:38] edburns opened #266 "Update Marketplace Verbiage for CONTACT ME offer"

[2021-02-24 22:38] edburns commented on #266
AB#1274476

[2021-02-24 23:13] edburns commented on #266
See https://github.com/wls-eng/arm-oraclelinux-wls/pull/270

[2021-02-24 23:24] edburns commented on #233
Look at https://github.com/wls-eng/arm-oraclelinux-wls/issues/266 and replace the equivalent text in this offer with the text from that merged PR.

[2021-02-24 23:24] edburns commented on #234
Look at https://github.com/wls-eng/arm-oraclelinux-wls/issues/266 and replace the equivalent text in this offer with the text from that merged PR.

[2021-02-24 23:24] edburns commented on #234
Look at https://github.com/wls-eng/arm-oraclelinux-wls/issues/266 and replace the equivalent text in this offer with the text from that merged PR.

[2021-02-24 23:24] edburns commented on #235
Look at https://github.com/wls-eng/arm-oraclelinux-wls/issues/266 and replace the equivalent text in this offer with the text from that merged PR.

[2021-02-24 23:24] edburns commented on #236
Look at https://github.com/wls-eng/arm-oraclelinux-wls/issues/266 and replace the equivalent text in this offer with the text from that merged PR.

[2021-02-24 23:26] edburns opened #271 "Update Marketplace Verbiage of Base Image offers"

[2021-02-24 23:57] edburns commented on #271
See #273

[2021-02-25 00:00] edburns commented on #266
See the CONTACT-ME diff in https://github.com/wls-eng/arm-oraclelinux-wls/commit/6a1ec2a22e3d66ae5a9109661cc338ebdc3553b1

[2021-02-26 18:54] edburns commented on #90
As of this writing, this is still unresolved.

[code]

[2021-03-01 03:14] edburns opened #274 "Leverage multi-line string in template feature to improve readability of ARM templates."
# Context from AB#1094137

Support multi-line string in mainTemplate
Track arm multi-line issue and enhance readability of mainTemplate with multi-line string.
The issue submit to https://github.com/Azure/azure-cli/issues/12909

Long string in mainTemplate has poor readability.
Multi-line string is supported from in latest az cli.
Document: https://docs.microsoft.com/en-us/azure/azure-resource-man

[2021-03-01 05:37] gnsuryan opened #275 "For Cluster & Dynamic Cluster Offers, Coherence Cache Server is not starting when Custom SSL is configured on Admin Server"
For Cluster & Dynamic Cluster Offers, Coherence Cache Server is not starting when Custom SSL is configured on Admin Server

<[severity-value: 16] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-300057> <Starting server mspStorage1 on machine mspStorageVM1 at mspStorageVM1::5556>####<Feb 27, 2021 10:40:25,267 AM UTC> <Error> <NodeManager> <adminVM> <admin> <<[ACTIVE] ExecuteThread: '5' f

[2021-03-01 05:42] gnsuryan opened #276 "KeyVaultAppGatewayTemplate fails to deploy if the resource group name is very long."
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"InvalidDomainNameLabel","message":"The domain name label wlsgw7e4f67-guru-cluster-ssl-keyvault-aad-coh-1411jdk11ol76-wlsd is invalid. It must conform to the following regular expres

[2021-03-01 06:04] sanjaymantoor opened #277 "AAD template validation fails with WLS SSL certificate uploading"
This issue is noticed only when WLS SSL is configured with SSL certificate uploading option. Issue is happening for all 3 offers wls admin, cluster and dynamic cluster.

Issue noticed:
The resource identifier of the KeyVault parameter 'keyVaultCustomTrustKeyStorePassPhrase' is invalid. Please specify the value following '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/

[2021-03-01 06:07] sanjaymantoor commented on #277
![Issue Noticed](https://user-images.githubusercontent.com/36834780/109458261-760f8d80-7a82-11eb-90a3-895a6ba809bf.png)

[2021-03-01 06:18] sanjaymantoor opened #278 "AAD certificate input parameter label/help needs to be updated"
AAD Configuration section for all 3 offers.

Current AAD server certificate uploading label and help is like below.
Label name :"Trust Keystore for TLS/SSL Configuration ".
Help info :"Custom Trust Keystore of WebLogic Server, used to enable TLS/SSL"

Above information doesn't look relevant if "TLS/SSL Configuration is not selected". As per my understanding this is related to AAD Server certificat

[2021-03-01 06:19] sanjaymantoor commented on #278
<img width="666" alt="AAD certificate uploading label" src="https://user-images.githubusercontent.com/36834780/109459106-23cf6c00-7a84-11eb-92f7-29c355b17f97.png">

[2021-03-01 06:24] sanjaymantoor commented on #277
[AAD issue.zip](https://github.com/wls-eng/arm-oraclelinux-wls/files/6059503/AAD.issue.zip)

All the input parameters and issue screen shots are available with this AAD.issue.zip file.

[2021-03-01 06:34] galiacheng opened #279 "AAD failed to deploy from Portal if TLS/SSL enabled"
Steps:
1. upload key stores for SSL enabled in TLS/SSL blade
2. Enable AAD
3. input values for AAD
4. click "Review + Create"

Validation failed.

Error info:
[code]

[2021-03-01 06:41] galiacheng commented on #279
We have issue #277, close this one.

[2021-03-01 06:41] #279 closed

[2021-03-01 07:34] zhengchang907 opened #280 "Webapp Deployment fails intermittently with dynamic cluster offer"
-- When deploying webapp on WebLogic Console, I got the following error:
An error occurred during activation of changes, please see the log for details.
[Management:141191]The prepare phase of the configuration update failed with an exception.
Cannot update 'Machine' while the server is running

-- ARM Deployment
---- Only Enable OHS using uploaded KeyStore file with following params:
{
    "$sche

[2021-03-01 07:58] zhengchang907 commented on #280
ohs-122140-jdk8-ol76;ohs-122140-jdk8-ol76;latest this image failed too

[2021-03-01 09:23] zhengchang907 commented on #280
Tried with "owls-141100-jdk11-ol76;Oracle:weblogic-141100-jdk11-ol76:owls-141100-jdk11-ol7;latest" and it works fine

[2021-03-01 09:42] zhengchang907 opened #281 "ELK deployment failed with creating index conflict"
[code]
It seems that 2 vms tried to create index at the same time, using the same timestamp

[2021-03-01 10:13] galiacheng commented on #281
This is an intermittent issue caused by two vm use the same index to validate the elk server. we can fix it soon.

[2021-03-01 10:24] zhengchang907 commented on #280
Sometime the ARM deployment failed with following error msg:

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "code": "VMExtensionProvisioningError",
      "message": "VM has reported a failure when processing ext

[2021-03-01 10:47] galiacheng opened #282 "DNS redirecting issue to admin console"
Happen in cluster and dynamic cluster offer.
When clicking second level menu, the request will append a hostname as prefix again.
Like:
[code]

[2021-03-01 11:01] galiacheng commented on #282
If use the same sub domain name to deploy DNS record, will cause redirecting issue.

[2021-03-01 11:04] galiacheng commented on #282
I think we can make this issue as Known issue.

[2021-03-01 17:16] sanjaymantoor commented on #280
Issue #1 )
An error occurred during activation of changes, please see the log for details.
[Management:141191]The prepare phase of the configuration update failed with an exception.
Cannot update 'Machine' while the server is running

This issue is intermittent and noticed without OHS also. It looks issue more of WLS Dynamic cluster and we have some internal tracking for this.

Issue #2) ARM deplo

[2021-03-01 17:25] sanjaymantoor commented on #280
Refer https://github.com/wls-eng/arm-oraclelinux-wls/blob/gh-pages/dynamic-cluster/ohsNestedTemplate.md

[2021-03-02 01:30] zhengchang907 commented on #277
[code]
In AAD with customSSL enabled, related Secrets need to be referenced

[2021-03-02 02:49] galiacheng commented on #282
If we use a record name starting with `console`, also cause bad redirection.

We need to avoid this kind of input.

[2021-03-02 03:22] #278 closed

[2021-03-02 04:16] galiacheng commented on #278
Hello @sanjaymantoor  please have a look at the change, the PRs have been merged. Thank you.

[2021-03-02 07:07] galiacheng opened #283 "Add UI notification for "can not share the same keystore for Identity and Trust" in TSL/SSL blade"
Discussed with @gnsuryan we will add notification as following:
![image](https://user-images.githubusercontent.com/59823457/109613853-b51a0d80-7b6c-11eb-9399-cbbd6daefda0.png)

[2021-03-02 08:02] zhengchang907 commented on #277
PRs:

Configured Cluster: https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/127

[2021-03-02 08:14] galiacheng commented on #276
The domain name is invalid. It can contain only lowercase letters, numbers and hyphens. The first character must be a letter. The last character must be a letter or number. The value must be between 3 and 63 characters long.
The domain name label must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.

[2021-03-02 09:36] galiacheng commented on #282
Hello @sanjaymantoor  this is the issue.

[2021-03-02 09:41] galiacheng commented on #281
Hello @zhengchang907  I have PRs for this issue, please have a check after the PRs are merged.

[2021-03-02 09:44] galiacheng opened #284 "AvailabilitySet failed if resource group has a long name"
Error:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"InvalidParameter","message":"The entity name 'resourceGroupName' is invalid according to its validation rule: ^[^_\\W][\\w-._]{0,79}(?<![-.])$."}]}

[2021-03-02 09:53] galiacheng commented on #284
Also failed deploying from Azure Portal.
![image](https://user-images.githubusercontent.com/59823457/109630723-362ed000-7b80-11eb-841d-c83144e9c6af.png)

[2021-03-02 09:54] galiacheng commented on #284
@edburns  I think we can mark this as known issue.

[2021-03-02 17:15] #281 closed

[2021-03-02 17:15] #283 closed

[2021-03-02 17:19] #276 closed

[2021-03-03 05:15] zhengchang907 commented on #277
@sanjaymantoor Hi Sanjay, I've fixed the templates and the PRs are merged, can you check on that to double confirm?

Will close the issue now.

[2021-03-03 05:15] #277 closed

[2021-03-03 06:14] gnsuryan commented on #275
I have fixed the issue for both Cluster & Dynamic Cluster offers and created PR.

https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/128
https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/115

[2021-03-03 09:20] zhengchang907 opened #286 "Dynamic offer: Need more explanation about ‘Oracle Vault Password' on OHS blade"
Hi Guru,

Can you make an update to add more explanation about the Oracle Vault Password? The current hangover text only shows 'Oracle Vault password', we'd like to provide more info to help user understand the parameter.
![image](https://user-images.githubusercontent.com/74032668/109783232-ba4a8b80-7c44-11eb-9970-e492262adddb.png)

CC @edburns

[2021-03-03 10:50] gnsuryan commented on #286
Hi Galia @galiacheng , Sanjay had worked on the OHS implementation. I have assigned the bug to him.
Sanjay will provide the required information for Oracle Vault during OHS configuration.

[2021-03-05 12:19] sanjaymantoor commented on #282
I am able to reproduce the issue.
Steps to recreate:
1) Deploy the offer with existing DNS zone
2) Once deployed access admin console using DNS zone set name
3) Click on any left side options like Deployments under Domain tree
Links are set with appended host:7002 console again.  Looking at below example.

https://**consoletest.wlseng-azuretest.com:7002**/**consoletest.wlseng-azuretest.com:7002**/

[2021-03-06 01:10] #286 closed

[2021-03-06 01:16] edburns opened #289 "Dynamic Cluster: even with correctly formatted and filled out certificates, TLS/SSL blade prevents cluster formation"
Using Dynamic Cluster offer version 1.0.32 2021-03-05 13:52 EST

https://ms.portal.azure.com/#create/oracle.20210202-test-01-previewarm-oraclelinux-wls-dynamic-cluster

With the following options filled out

# Basics

* Nothing special

# TLS/SSL

[code]

# OHS

* Upload existing key stores

[code]

# DNS -> Create+Review

* No

Deploying the cluster in this way causes the managed servers to not r

[2021-03-07 15:14] gnsuryan commented on #289
Hi Ed @edburns,

 I tested using the keystore commands provided in the issue. Though the deployment went through, the SSL setup is not working as expected due to wrong trust.jks file being used.

Below are the correct keystore commands that needs to be used to create the identity.jks and trust.jks files.

**Create identity.jks File:**
keytool -genkey -alias servercert -keyalg RSA -keysize 2048 -si

[2021-03-07 15:16] gnsuryan commented on #289
The identity and trust keystore files are related to each other and we cannot use independently created keystores and use it as identity and trust keystores.

I am working on including few validations in the script to check if the provided files is a valid keystore file.
I will also try to find out if there is a way to validate, if the identity and trust keystores provided are related.

[2021-03-07 17:12] gnsuryan commented on #289
The following commands can be used to validate the identity & trust.jks keystore files:

**Validate Identity Keystore**
`keytool -list -v -keystore identity.jks -storepass Gumby12340987 -storetype JKS |grep "Entry type:"|grep 'PrivateKeyEntry'
`
Returns 0 on successful validation and 1 on validation failure

**Validate Trust Keystore**
`keytool -list -v -keystore trust.jks -storepass Gumby12340987

[2021-03-08 04:06] gnsuryan commented on #289
Implemented validation for SSL Keystores during deployment and add node features.

Created pull requests for all the three offers.

[https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/96](https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/96)

[https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/136](https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/136)

[https://g

[2021-03-09 02:05] zhengchang907 commented on #280
I cannot repro Error 2, I might made some mistakes by passing wrong parameters when testing it at the first time.

[2021-03-09 14:33] sanjaymantoor opened #291 "SSL/TLS certificate input validation required at blade UI"
Now, we have SSL/TLS certificate configuration at multiple Azure offer blade UI.
Blade UI blade validation is required on certificates/keystores to make sure it doesn't cause deployment failure at later point of time.

[2021-03-09 14:58] sanjaymantoor commented on #221
[Oracle HTTP Server Usage for Dynamic Cluster.pdf](https://github.com/wls-eng/arm-oraclelinux-wls/files/6109315/Oracle.HTTP.Server.Usage.for.Dynamic.Cluster.pdf)

[2021-03-09 14:59] sanjaymantoor commented on #221
I have attached Oracle HTTP Server usage for dynamic cluster documentation.

[2021-03-09 15:15] gnsuryan commented on #289
Hi @edburns,

Thanks for identifying the issue. The issue occurred due to a typo issue in configuring SSL parameters in nodemanager.properties for the Managed Servers.

The reason I couldn't identity this issue during my testing, is because, I was using the same passphrase for all the required passphrases.

I have made the fix, tested and found them working fine for Cluster & Dynamic Cluster offer

[2021-03-10 02:59] edburns commented on #289
* Can access the console over http going directly to DNS name of admin server.

* Observe the cluster did form.

* Observe managed servers are all running.

* Observe certificate is as expected.

* Deploy `weblogic-kubernetes-operator/kubernetes/samples/charts/application/testwebapp.war`

   * hit ohsVM directly.

      * curl --verbose http://wls-5d2ee46dcb-ohsstandalonedomain.eastus.cloudapp.azu

[2021-03-10 02:59] #289 closed

[2021-03-10 08:22] sanjaymantoor commented on #249
[Oracle HTTP Server Load Balancer.pdf](https://github.com/wls-eng/arm-oraclelinux-wls/files/6114345/Oracle.HTTP.Server.Load.Balancer.pdf)

[2021-03-10 19:11] edburns commented on #249
Discussed at 2021-03-10 meeting, will apply this to be a sibling document for App Gateway on docs.microsoft.com

[2021-03-11 03:15] edburns opened #292 "Add Red Hat GNU/Linux to list of supported base images"

[2021-03-12 07:23] gnsuryan opened #293 "AAD Template deployment fails due to issue in Trustkeystore validation command"
AAD Template deployment fails due to issue in Trustkeystore validation.

The issue is due to a typo issue in the command used for trust keystore validation in aadIntegration.sh

#validate Trust keystore
        sudo ${JAVA_HOME}/bin/**keytool keytool** -list -v -keystore ${DOMAIN_PATH}/${wlsDomainName}/keystores/trust.keystore -storepass ${customTrustKeyStorePassPhrase} -storetype ${customTrustKey

[2021-03-12 17:00] gnsuryan opened #294 "Fix minor typo issues in UI labels in upload custom SSL configuration blade"
Fix minor typo issues in UI labels in upload custom SSL configuration blade

![image](https://user-images.githubusercontent.com/29789603/110972877-837e1f00-8382-11eb-8555-95c3f42aeca0.png)

![image](https://user-images.githubusercontent.com/29789603/110972902-8b3dc380-8382-11eb-94c3-bb80558b34e6.png)

[2021-03-17 18:32] edburns opened #297 "KeyStore specific documentation"
Consider [this doc](https://github.com/gnsuryan/WebLogic-SSL-Configuration/blob/master/KeyStoreConfiguration.md).

* Modify [the online docs](https://docs.oracle.com/en/middleware/standalone/weblogic-server/wlazu/) to add this as an entry in Appendix A Common Administrative Tasks.
* Modify [This aka link](https://aka.ms/arm-oraclelinux-wls-ssl-config) to link directly to that new page.

[2021-03-17 18:33] edburns commented on #297
@edburns  review and suggest changes if necessary on the doc.

[2021-03-17 18:49] edburns opened #298 "Modify validation message for JNDI Name field to permit `/` characters"
For each offer, make it so the validation message for the field **JNDI Name** states that the `/` character is allowed.

[2021-03-17 18:54] edburns opened #299 "Relax validation requirements for database password, and update message accordingly"
The validation requirements for the database password field must only be as strict as the least strict of the three supported databases.  According to Oracle, that means the validation requirements should be 5 chars min, at least one number.

This issue asks the assignee to update the **createUiDefinition.json** so that

* the validation regEx represents that requirement.
* The validation message

[2021-03-18 11:21] gnsuryan commented on #275
The Coherence Cache Server fails to start when Custom SSL is configured on Admin Server and also when the default HTTP Listen Port (7001) is disabled on the Admin Server.

Exception Logs:

2021-03-17 16:11:49.037/51.529 Oracle Coherence 12.2.1.3.0 <Info> (thread=[STANDBY] ExecuteThread: '1' for queue: 'weblogic.kernel.Default (self-tuning)', member=n/a): Loaded operational configuration from "jar:

[2021-03-18 14:36] sanjaymantoor opened #300 "Need proper help info about Type of certificate at TLS/SSL and OHS blade section in admin,cluster and dynamic offers"
Proper help information is required for "Type of the certificate format ( JKS.PKCS12)" for OHS blade for the option "Upload existing KeyStores"

[2021-03-18 14:37] sanjaymantoor commented on #300
![OHS Blade](https://user-images.githubusercontent.com/36834780/111644113-874bee80-8825-11eb-865f-be418166ea76.png)

[2021-03-18 14:39] sanjaymantoor commented on #300
Instead of "Use only letters and numbers", it should be "Type of the certificate format"

[2021-03-18 14:41] sanjaymantoor opened #301 "DNS configuration blade: User assigned managed identity section should be mandatory field"
![User assigned managed identity](https://user-images.githubusercontent.com/36834780/111644803-2c66c700-8826-11eb-854f-055767d1947d.png)

[2021-03-18 15:38] sanjaymantoor commented on #300
![TLS-SSL Configuration](https://user-images.githubusercontent.com/36834780/111653696-1b21b880-882e-11eb-84e7-77c39871cf77.png)

[2021-03-18 15:42] sanjaymantoor commented on #300
I am seeing proper help info is required on all admin, cluster and dynamic cluster offers for TLS/SSL Configuration as well.

[2021-03-18 17:00] gnsuryan commented on #275
I have fixed and test the issue with Coherence Server startup issue. The fix is working fine.
I have created PRs for both Configured cluster & Dynamic Cluster offers.

https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/141
https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/129

[2021-03-18 17:47] edburns commented on #297
Hello @gnsuryan , please consider [these editorial suggestions](https://github.com/gnsuryan/WebLogic-SSL-Configuration/pull/4).

[2021-03-18 18:09] edburns commented on #297
[Slack tag](https://oracle-weblogic.slack.com/archives/GNPGR0BGV/p1616090925004300)

[2021-03-18 21:18] edburns commented on #298
PRs

https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/130
https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/142
https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/99

[2021-03-18 22:02] edburns commented on #299
PRs

https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/131
https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/143
https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/100

[2021-03-18 22:18] edburns commented on #300
PRs
https://github.com/wls-eng/arm-oraclelinux-wls-admin/pull/101
https://github.com/wls-eng/arm-oraclelinux-wls-dynamic-cluster/pull/132
https://github.com/wls-eng/arm-oraclelinux-wls-cluster/pull/144

[2021-03-18 23:14] edburns commented on #301
Long story short, this is the correct behavior.

For more details, I observe that the UI control in question [does not support the required property](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/microsoft-managedidentity-identityselector).

[2021-03-18 23:14] #301 closed

[2021-03-18 23:23] #298 closed

[2021-03-18 23:23] #299 closed

[2021-03-18 23:23] #300 closed

[2021-03-19 09:43] sanjaymantoor opened #303 "Dynamic offer : Exclude coherence server name/port for OHS WebLogic cluster address entry"
OHS load balancing works based on WebLogic cluster address. When deployment is made with coherence server, WebLogic cluster address will contain coherence server as another member. As coherence server is not used for deploying application, it should be removed from entry. If not, OHS will try to route the request to coherence server and fails.

Earlier this issue was not noticed as coherence ssl i

[2021-03-19 17:48] #303 closed

[2021-03-22 14:54] gnsuryan opened #304 "Intermittent issue: On Coherence Server VM Restart, Admin Server VM is not able to reach the Coherence Server VM and therefore shows the Coherence Server in SHUTDOWN State even when the Coherence server is in RUNNING state"
Intermittent issue: On Coherence Server VM Restart, Admin Server VM is not able to reach the Coherence Server VM and therefore shows the Coherence Server in SHUTDOWN State even when the Coherence server is in RUNNING state

![image](https://user-images.githubusercontent.com/29789603/112009342-4d902600-8b4c-11eb-98bd-4671e686fca7.png)

Server Logs:

<Mar 22, 2021 9:25:17,341 AM UTC> <Notice> <Secur

[2021-03-22 14:55] gnsuryan commented on #304
**Nodemanager Status on Coherence Server VM2 once the Admin VM is restarted.**

![image](https://user-images.githubusercontent.com/29789603/112009715-a5c72800-8b4c-11eb-83f3-13ca00ecf07e.png)

[2021-03-23 12:23] gnsuryan commented on #293
Closing this issue as it is resolved.

[2021-03-23 12:23] #293 closed

[2021-03-23 12:23] gnsuryan commented on #294
Closing this issue as it is resolved.

[2021-03-23 12:23] #294 closed

[2021-03-23 12:24] gnsuryan commented on #275
closing this issue as it is now resolved.

[2021-03-23 12:24] #275 closed

[2021-03-23 22:09] #232 closed

[2021-03-23 22:10] #237 closed

[2021-03-23 22:12] #249 closed

[2021-03-23 22:13] #221 closed

[2021-03-23 22:13] #245 closed

[2021-03-23 22:16] #236 closed

[2021-03-23 22:28] #233 closed

[2021-03-24 18:13] edburns commented on #235
- Include the word **Dynamic** in the Name, Search Results, and Short Description fields.
- Remove **12c** reference.
- Remove **7.6** in Oracle Linux references.

[2021-03-24 18:16] edburns commented on #234
- Include the word Dynamic in the Name, Search Results, and Short Description fields.
- Remove 12c reference.
- Remove 7.6 in Oracle Linux references.

[2021-03-26 21:27] m-reza-rahman commented on #271
I just took a brief look at the marketplace and noticed the following issues. These issues are probably on the portal too:

* The CONTACT ME page is still out of date.
* The video is still the old one.
* The formatting for the base images looks like they are missing line breaks, impeding readability.
* Some of the descriptions still explicitly refer to 12c.
* The OHS and OL references in the title

[2021-03-30 17:16] #280 closed

[2021-04-08 02:32] majguo commented on #242
Just FYI - here is the doc describing how to manage the data disk: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-manage-disks#prepare-data-disks

[2021-04-12 18:02] #117 closed

[2021-04-15 03:25] Lighter100 opened #310 "Remove weblogic-deploy-tool downloading as part of setup script"
![error_message1](https://user-images.githubusercontent.com/82558518/114809670-30621680-9ddd-11eb-8c8b-e1ae95f370b3.png)
![error_message2](https://user-images.githubusercontent.com/82558518/114809697-4079f600-9ddd-11eb-8265-cdde5de4c4b3.png)

[2021-04-15 03:28] galiacheng commented on #310
More information from @Lighter100

- This is an intermittent issue
- Root cause: failed to download weblogic-deploy-tool.

![image](https://user-images.githubusercontent.com/59823457/114810040-df9eed80-9ddd-11eb-9034-7f19b8b1b7c0.png)

[2021-04-15 10:21] sanjaymantoor commented on #310
I will look into it. Sometime back I have noted this intermittent  issue and identified the changes.
As we are using WebLogic base image, we no need to download JDK or weblogic-deploy-tool.

[2021-04-21 06:34] sanjaymantoor opened #311 "Oracle HTTP Server setup for post WebLogic deployment offers"
Create Oracle HTTP Server setup for post WebLogic deployment cluster and dynamic cluster offers.

[2021-04-21 07:39] gnsuryan opened #312 "Implement SSL Certificate/Keystore Validation using temporary standalone Java HTTPS Server before configuration on WLS/OHS servers"
Implement SSL Certificate/Keystore Validation using temporary standalone Java HTTPS Server before configuration on WLS/OHS servers

[2021-04-21 10:00] Lighter100 opened #313 "How can I test JMS with volume request in Azure WebLogic Cluster environment ?"
How can I test JMS with volume request in Azure WebLogic Cluster environment?
The result should be visible in Azure WebLogic report console with request count and time sequence.
for example :
https://medium.com/wlsdmforweblogic/oracle-weblogic-jms-overview-and-monitoring-jms-servers-messages-queues-by-using-wlsdm-ec02b3158159

[2021-04-21 18:14] edburns commented on #310
[code]

Looks like this is still downloading the deployment tool.

[2021-04-22 04:12] sanjaymantoor commented on #310
Yes, I have done changes and will create PR for the same.

[2021-04-22 11:30] sanjaymantoor commented on #313
Issue reported:
Caused by: javax.naming.NoInitialContextException: Cannot instantiate class: weblogic.jndi.WLInitialContextFactory [Root exception is java.lang.ClassNotFoundException: weblogic.jndi.WLInitialContextFactory]

Make sure dependent wlthint3client.jar and webloic.jar libraries are in  classpath for JMeter.

[2021-04-23 01:54] Lighter100 commented on #313
Related lib was put in the JMeter lib folder.
![image](https://user-images.githubusercontent.com/82558518/115806749-ecdd5d00-a419-11eb-8d3b-885bbf7e224b.png)

[2021-04-23 08:03] galiacheng opened #314 "Fail to connect managed server via T3 from remote WLST client."
**Reproduced steps:**

1. Deploy WebLogic cluster with [Azure WebLogic Marketplace offer ](https://portal.azure.com/#create/oracle.20191007-arm-oraclelinux-wls-cluster20191007-arm-oraclelinux-wls-cluster), no application gateway enabled.
2. Access managed server `msp1` from external WLST client via T3 string like `t3://13.92.229.223:8001`

**Expected result:**
Connection succeed.

**Actual result:

[2021-04-23 08:07] galiacheng commented on #314
Workaround:
- Open admin console portal
- Click **Lock&Edit**
- Go to Servers -> `msp1`
- Remove value of **Listen Address**, keep it empty
- Save and activate changes
- Restart managed server `msp1`:
   - Shutdown server: Servers -> Control -> `msp1` -> Shutdown
   - Start server: Servers -> Control -> `msp1` -> Start
- Apply the same changes to other managed servers

The server configuration sho

[2021-04-23 10:34] galiacheng commented on #313
Hello @Lighter100 ,

With the help of Reza, we finally resolved the Jmeter T3 connection issue.
Root cause is that the older weblogic client library uses `iiop` to connect the server.
We should use the latest weblogic client lib (you can get it from weblogic 14c installation directory `$ORACLE_HOME/wlserver/server/lib/wlthint3client.jar`).

Please follow the steps to fix the error.

**1. Enable T3

[2021-04-26 04:01] Lighter100 commented on #313
Thanks a lot , it works~

[2021-04-26 04:01] #313 closed, assigned to nobody

[2021-04-28 18:44] #310 closed, assigned to sanjaymantoor

[2021-05-03 21:56] edburns opened #316 "Consider upgrading to StoregeV2"
Consider this JSON

[code]

Note the value of the `kind` property.  We should consider upgrading.  See [Upgrade to a general-purpose v2 storage account](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-upgrade?tabs=azure-portal).

General-purpose v2 storage accounts support the latest Azure Storage features and incorporate all of the functionality of general-purpose v1 and Blo

[2021-05-03 21:57] edburns commented on #316
[AB#1230802](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1230802)

[2021-05-13 21:55] edburns opened #317 "Discovered a straggling 8u131 reference in `arm-oraclelinux-wls-admin/src/main/arm/nestedtemplates/adminTemplateForCustomSSL.json`"
None of our templates should reference the *JDK8u* style names. This one still does.

[code]

`arm-oraclelinux-wls-admin/src/main/arm/nestedtemplates/adminTemplateForCustomSSL.json`

[2021-05-13 21:59] #317 closed, assigned to edburns

[2021-05-13 22:05] edburns opened #318 "Ensure base images with `8u` and `11_07` are removed from Azure."
None of the Azure Application offers should be referring to base images whose `skuUrnVersion` tuple includes either `8u` or `11_07`.  After the closure of #317 , none of them are.  This UNIX command can be used to verify this fact.

`find arm-oraclelinux-wls arm-oraclelinux-wls-admin arm-oraclelinux-wls-cluster arm-oraclelinux-wls-dynamic-cluster -type f -name "*.json" -exec grep Oracle:weblogic {

[2021-05-13 22:10] edburns commented on #318
These have already been marked with **deprecated** in the Partner Center.

[2021-05-19 02:31] edburns opened #319 "Resolve security issue for CI/CD: secure transfer to storage accounts should be enabled."
Because the CI/CD pipeline runs within the Microsoft tenancy, everything that happens during a CI/CD run is subject to the security policy of that tenancy.  These policies are constantly evolving as threats evolve. The latest evolution is a requirement to require secure transfer to ensure secure connections to the storage account. Our offers use the storage account for various activities during de

[2021-05-19 02:32] edburns commented on #319
[AB#1330008](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1330008)

[2021-05-19 18:14] edburns commented on #319
We discussed this at the 2021-05-19 meeting and agreed to the following.
* Move the jobs from the Microsoft tenancy to the Oracle tenancy
* Turn everything to be on-demand.

To implement this, we must
1. Give Jacob a new Azure credentials bound to the Oracle tenancy
2. Modify all the build.yamls to remove the schedule trigger.

[2021-05-24 02:12] galiacheng commented on #319
Current SP is expired, so all the pipelines are failed. I will not create a new one in Open Standard Enterprise Java Testing with TTL = 7 Days. Please change to Oracle tenancy SP.

[2021-05-26 05:18] zhengchang907 commented on #319
* To make pipeline works, repo secrets AZURE_CREDENTIALS needs to be updated with latest created for 'Oracle Enterprise Java' sub.
* Removed scheduled trigger
* Update NSG rule related logic since no policy rule will be automated created under Oracle sub, reused as much code as possible.
* Update vm size selection everywhere to reduce costs.

PRs:
Single Node: https://github.com/wls-eng/arm-oracle

[2021-05-26 06:08] zhengchang907 opened #321 "Resolve web app deployment check failure in Configured Cluster"
https://github.com/zhengchang907/arm-oraclelinux-wls-cluster/runs/2670925451?check_suite_focus=true

Web app deployment failed because the managed server 1 cannot be reached, need to look into it.

[2021-05-26 06:13] zhengchang907 opened #322 "Pipeline failures sometime on step 'Verify WebLogic Managed Server Lifecycle Check'"
Pipeline failures sometime on step 'Verify WebLogic Managed Server Lifecycle Check' for Configure Cluster and Dynamic Cluster

https://github.com/zhengchang907/arm-oraclelinux-wls-cluster/runs/2670925476?check_suite_focus=true
https://github.com/zhengchang907/arm-oraclelinux-wls-dynamic-cluster/runs/2670881468?check_suite_focus=true

Hi @sanjaymantoor  can you please take a look at these failures?

[2021-05-26 06:25] sanjaymantoor commented on #322
I am seeing strange issue here. REST commands were issued against WebLogic admin server with computer name like adminvm.  It is throwing UnknownHostException.

 "status": 500,
    "type": "http:\/\/www.w3.org\/Protocols\/rfc2616\/rfc2616-sec10.html#sec10.4.1",
    "title": "FAILURE",
    "detail": "java.net.UnknownHostException: %5Bfe80%3A0%3A0%3A0%3A222%3A48ff%3Afe21%3Abc1f%252%5D"

[2021-06-01 21:30] edburns opened #323 "EJB request load balancing issue"
Hello team,
We have a stateful EJB request load balancing issue, the EJB clients in cluster1/domain2 connect EJB servers in squada-n1/domain1 using clusterIP service (e.g t3://sample-domain1-cluster-squada-n1.sample-domain1-ns.svc.cluster.local:9011), we found most of the request were sent to EJB server 1, why not sent to other servers? Attach the snapshot of thread in different managed servers. P

[2021-06-01 21:30] edburns commented on #323
[AB#1335575](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1335575)

[2021-06-01 21:30] edburns commented on #323
[Slack link](https://oracle-weblogic.slack.com/archives/CE3M9DGSY/p1622196369044000).

[2021-06-01 21:46] edburns commented on #323
Johnny Shum  2 minutes ago
@Edward Burns It depends on the nature of the conversation.   If you get a client and repeatedly make request, it will go to the same server.  After you dispose it and recreate another client, it repeats the same behavior.  So, it depends on how many ejb client do you have and how long is the conversation.   Is there any reason, you are not using stateless ejb ?
https://

[2021-06-07 22:29] edburns opened #324 "Verify CI/CD works using Oracle Global Sponsored Azure Subscription"

[2021-06-08 20:01] edburns commented on #324
@jacobt123  has certified that all the repositories have the updated credentials provided by @zhengchang907 .

[2021-06-16 17:44] #319 closed, assigned to zhengchang907

[2021-06-16 17:44] #324 closed, assigned to edburns

[2021-06-24 05:42] gnsuryan opened #325 "Post Deployment Custom SSL Configuration for all WLS Azure offers"
Post Deployment Custom SSL Configuration for all WLS Azure offers

[2021-06-28 15:48] edburns commented on #292
MS Support wrote:

[2021-07-14 18:08] edburns commented on #322
At 2021-07-14 meeting, Ed and @jacobt123 resolved to de-prioritize this until after the switch to the Oracle github org.

[2021-08-11 16:14] edburns opened #326 "Update 'createUiDefinition' to include version in query string somewhere in a URL"
A long-standing problem with the Partner Center is the mismatch between the time when the Partner Center shows the offer is available in the portal (either preview or live) and when the offer actually **is** available in the portal.  Our current approach to mitigate this problem is to include a version string in the preview version of the `createUiDefinition`.  A different approach, innovated by @